// form-1
.parent-form-1 {
    margin: 0;
    padding: 0;
    font-family: $font-cairo;
    height: 100vh;
    width: 100%;
    background-image: url("https://placeimg.com/1000/1000/tech");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    .wrapper-form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        width: 400px;
        height: 480px;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        padding: 50px 30px;
        @include borderRadius(20px);
        @include xs-media {
            height: 350px;
        }
        .form-img {
            width: 80px;
            height: 80px;
            @include borderRadius(50%);
            position: absolute;
            top: -40px;
            left: calc(50% - 40px);
            @include xs-media {
                display: none;
            }
        }
        .h1 {
            text-align: center;
            font-size: $font-page + 6;
            margin: 0;
            padding: 0px 0px 20px;
            @include xs-media {
                font-size: $font-page;
                padding: 0px 0px 10px;
            }
        }
        label {
            font-weight: bold;
            font-size: $font-page + 1;
            @include xs-media {
                font-weight: normal;
                font-size: $font-page - 4 !important;
            }
        }
        input {
            border: none !important;
            outline: none !important;
            border-bottom: 1px solid #fff !important;
            background: transparent;
            height: 40px;
            color: #fff;
            font-size: $font-page;
            width: 100%;
            margin-bottom: 20px;
            @include xs-media {
                height: 20px;
            }
        }
        input:focus,
        input:hover,
        input:visited,
        input:active,
        input:focus-within,
        input:focus-visible {
            border: none !important;
            outline: none !important;
            border-bottom: 1px solid #fff !important;
        }
         ::-webkit-input-placeholder {
            /* Edge */
            color: #fff;
            font-size: $font-page - 2;
            line-height: 40px;
            @include xs-media {
                font-size: $font-page - 5;
                line-height: 20px;
            }
        }
         :-ms-input-placeholder {
            /* Internet Explorer */
            color: #fff;
            font-size: $font-page - 2;
            line-height: 40px;
            @include xs-media {
                font-size: $font-page - 5;
                line-height: 20px;
            }
        }
         ::-moz-placeholder {
            color: #fff;
            font-size: $font-page - 2;
            line-height: 40px;
            @include xs-media {
                font-size: $font-page - 5;
                line-height: 20px;
            }
        }
         ::-ms-input-placeholder {
            color: #fff;
            font-size: $font-page - 2;
            line-height: 40px;
            @include xs-media {
                font-size: $font-page - 5;
                line-height: 20px;
            }
        }
         ::placeholder {
            color: #fff;
            font-size: $font-page - 2;
            line-height: 40px;
            @include xs-media {
                font-size: $font-page - 5;
                line-height: 20px;
            }
        }
        .btn-submit {
            width: 50%;
            margin: 35px auto 0px;
            @include flexCenter;
            font-size: $font-page + 4;
            @include xs-media {
                margin: 0px auto 0px;
                font-size: $font-page - 3;
            }
        }
        .sign-in-by {
            border-top: 1px solid #999;
            margin-top: 20px;
            padding: 20px 0px;
            label {
                margin-left: 20px;
                font-size: $font-page + 2;
            }
            .social {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 10px auto;
                //
                i {
                    border: 1px solid #fff;
                    padding: 10px;
                    text-align: center;
                    width: 40px;
                    height: 40px;
                    font-size: 20px;
                    line-height: 20px;
                    margin-left: 20px;
                    cursor: pointer;
                    @include borderRadius(50%);
                    @include transition(0.5s);
                    @include hover {
                        background-color: #fff;
                        color: #3498db;
                        border: 1px solid #3498db;
                    }
                }
            }
        }
        @include xs-media {
            padding: 20px 10px;
            width: 50%;
            .form-img {
                display: none;
            }
            label {
                font-weight: bold;
                font-size: $font-page;
            }
             ::-webkit-input-placeholder {
                /* Edge */
                color: #fff;
                font-size: $font-page - 3;
                line-height: 40px;
            }
             :-ms-input-placeholder {
                /* Internet Explorer */
                color: #fff;
                font-size: $font-page - 3;
                line-height: 40px;
            }
             ::-moz-placeholder {
                color: #fff;
                font-size: $font-page - 3;
                line-height: 40px;
            }
             ::-ms-input-placeholder {
                color: #fff;
                font-size: $font-page - 3;
                line-height: 40px;
            }
             ::placeholder {
                color: #fff;
                font-size: $font-page - 3;
                line-height: 40px;
            }
            .sign-in-by {
                label {
                    display: block;
                    font-size: $font-page;
                    margin-bottom: 20px;
                }
                i {
                    margin-left: 10px;
                }
            }
        }
    }
}

// form 2
.parent-form-2 {
    .h1 {
        text-align: center;
    }
    .submit {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        padding: 10px 30px;
        margin: 30px auto;
        @include flexCenter;
    }
}

// back-face

/*
<div class="parent-back-face">
      <div class="box">
        <div class="face front">
          <img src="https://placeimg.com/200/200/any" alt="" />
        </div>
        <div class="face back">
          <p>Lorem ipsum dolor sit amet consectetur</p>
        </div>
      </div>
    </div>
*/

.parent-back-face {
    perspective: 600px;
    .box {
        position: relative;
        width: 100%;
        min-height: 200px;
        transform-style: preserve-3d;
        transition: transform 1s;
        -webkit-transition: transform 1s;
        -moz-transition: transform 1s;
        -ms-transition: transform 1s;
        -o-transition: transform 1s;
        transform-origin: right center;
        @include hover {
            transform: translateX(-100%) rotateY(-180deg);
            -webkit-transform: translateX(-100%) rotateY(-180deg);
            -moz-transform: translateX(-100%) rotateY(-180deg);
            -ms-transform: translateX(-100%) rotateY(-180deg);
            -o-transform: translateX(-100%) rotateY(-180deg);
        }
        .face {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            font-size: $font-page;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }
        .front {
            background-color: red;
        }
        .back {
            transform: rotateY(180deg);
            color: #000;
        }
    }
}

// grid
.css-parent-grid {
    width: 100%;
    margin: auto;
    display: grid;
    //  الاعمدة بى العرض من العنصر اللى هو فية
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    // عدد الاعمدة فى الطول من العنصر اللى هو فية
    // grid-template-rows: repeat(3, 1fr);
    // اللى هو المارجان بين العناصر
    gap: 10px 1%;
    // grid-column: 4 / 6;
    // grid-column-start: span 3;
    // grid-column-end: span 3;
    /*
  justify-content: space-between;
  align-content: space-between;
  */
    // grid-template-areas: "logo logo navb navb navb navb navb navb navb navb";
    // .logo {
    //   grid-area: logo;
    // }
    // .navb {
    //   grid-area: navb;
    // }
    .css-child-grid {
        // grid-column: 1 / 6;
        // grid-column: span 6;
        // grid-column: 2 / span 6;
        // grid-row: 2 / span 5;
    }
}

// navbar
.css-back-transparent {
    background-color: transparent;
    transition: 0.5s ease;
}

.css-back-transparent.css-scroll-back-color {
    background-color: #fff;
}

// rotating-box

/*
<div class="parent-rotating-box">
            <div class="single-rd">
              <div class="front-side">
                <img src="images/440x440/image-5.jpg" alt="" />
              </div>
              <div class="back-side">
                <img src="images/440x440/image-2.jpg" alt="" />
              </div>
              <div class="left-side">
                <img src="images/440x440/image-3.jpg" alt="" />
              </div>
              <div class="right-side">
                <img src="images/440x440/image-4.jpg" alt="" />
              </div>
              <div class="top-side"></div>
              <div class="bottom-side"></div>
            </div>
          </div>
*/

.parent-rotating-box {
    margin: auto;
    perspective: 800px;
    position: relative;
    width: 50%;
    height: 250px;
    .single-rd {
        width: 100%;
        -webkit-animation: rotate 15s linear infinite;
        animation: rotate 15s linear infinite;
        transform-style: preserve-3d;
        margin-top: 60px;
        img {
            width: 100%;
            height: 100%;
        }
        div {
            position: absolute;
            width: 100%;
            height: 250px;
        }
        .front-side {
            transform: translateZ(-55px);
            -webkit-transform: translateZ(-55px);
            -moz-transform: translateZ(-55px);
            -ms-transform: translateZ(-55px);
            -o-transform: translateZ(-55px);
        }
        .back-side {
            transform: rotateY(180deg) translateZ(200px);
            -webkit-transform: rotateY(180deg) translateZ(200px);
            -moz-transform: rotateY(180deg) translateZ(200px);
            -ms-transform: rotateY(180deg) translateZ(200px);
            -o-transform: rotateY(180deg) translateZ(200px);
        }
        .left-side {
            transform: rotateY(-90deg) translateX(-200px);
            -webkit-transform: rotateY(-90deg) translateX(-200px);
            -moz-transform: rotateY(-90deg) translateX(-200px);
            -ms-transform: rotateY(-90deg) translateX(-200px);
            -o-transform: rotateY(-90deg) translateX(-200px);
            transform-origin: left;
        }
        .right-side {
            transform: rotateY(90deg) translateX(200px);
            -webkit-transform: rotateY(90deg) translateX(200px);
            -moz-transform: rotateY(90deg) translateX(200px);
            -ms-transform: rotateY(90deg) translateX(200px);
            -o-transform: rotateY(90deg) translateX(200px);
            transform-origin: right;
        }
        .top-side {
            transform: rotateX(-90deg) translateY(-200px);
            -webkit-transform: rotateX(-90deg) translateY(-200px);
            -moz-transform: rotateX(-90deg) translateY(-200px);
            -ms-transform: rotateX(-90deg) translateY(-200px);
            -o-transform: rotateX(-90deg) translateY(-200px);
            transform-origin: top;
        }
        .bottom-side {
            transform: rotateX(90deg) translateY(200px);
            -webkit-transform: rotateX(90deg) translateY(200px);
            -moz-transform: rotateX(90deg) translateY(200px);
            -ms-transform: rotateX(90deg) translateY(200px);
            -o-transform: rotateX(90deg) translateY(200px);
            transform-origin: bottom;
        }
    }
    @-webkit-keyframes rotate {
        0% {
            @include rotateY(0deg);
        }
        100% {
            @include rotateY(360deg);
        }
    }
    @keyframes rotate {
        0% {
            @include rotateY(0deg);
        }
        100% {
            @include rotateY(360deg);
        }
    }
}

// css-parent-overlay-box-3

/*
<!-- Start overlay-box-3 -->
          <div class="css-parent-overlay-box-3">
            <img
              src="images/440x440/image-1.jpg"
              alt=""
              class="img-fluid img-thumbnail"
            />
            <div class="img-text">
              <h2 class="h1">Lorem ipsum</h2>
              <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod,
                ex incidunt magnam officia aperiam nulla.
              </p>
              <a href="#" class="link">learn more</a>
            </div>
          </div>
          <!-- End overlay-box-3 -->
*/

.css-parent-overlay-box-3 {
    position: relative;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    img {
        width: 100%;
        height: 250px;
    }
    .img-text {
        text-align: center;
        width: 100%;
        height: 250px;
        background-color: tomato;
        position: absolute;
        top: -100%;
        left: 0%;
        padding: 15px 0px;
        font-family: poppins;
        @include opacity(0);
        color: #fff;
        @include rotate(90deg);
        @include transition(0.5s);
        .h1 {
            margin: 0;
        }
        .lead {
            padding: 0px 15%;
            line-height: 1.3;
            font-size: $font-page + 2;
        }
        .link {
            display: inline-block;
            color: tomato;
            text-decoration: none;
            background-color: #fff;
            padding: 15px 30px;
            margin-top: 10px;
            text-transform: capitalize;
            font-weight: bold;
            border: 2px solid tomato;
            @include borderRadius(5px);
        }
    }
    &:hover .img-text {
        left: 0;
        top: 0;
        @include rotate(0deg);
        @include opacity(1);
    }
}

// css-parent-box-border-fide

/*
<!-- Start box-border-fide -->
<div class="css-parent-box-border-fide">
  <div class="css-child-box-border-fide">hossam</div>
</div>
<!-- End box-border-fide -->
*/

.css-parent-box-border-fide {
    width: 100%;
    .css-child-box-border-fide {
        width: 100%;
        height: auto;
        @include prefix(box-shadow,
        10px 10px 10px #ccc,
        webkit moz o ms);
        position: relative;
        display: block;
        overflow: hidden;
        padding: 15px;
        text-align: center;
        margin: 0;
        //
        img {
            width: 100%;
            margin-bottom: 20px;
        }
        h3 {
            margin: 0;
            font-size: $font-sm + 5;
            text-transform: capitalize;
        }
        &::before {
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            height: 4px;
            width: 100%;
            border-left: 4px solid transparent;
            border-bottom: 4px solid transparent;
            box-sizing: border-box;
            @include prefix(transform,
            translateX(100%),
            webkit moz o ms);
        }
        &::after {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            height: 4px;
            width: 100%;
            border-top: 4px solid transparent;
            border-right: 4px solid transparent;
            box-sizing: border-box;
            @include prefix(transform,
            translateX(-100%),
            webkit moz o ms);
        }
        &:hover::before {
            border-color: #3498db;
            height: 100%;
            @include prefix(transform,
            translateX(0),
            webkit moz o ms);
            transition: 0.3s transform linear, 0.3s height linear 0.3s;
            -webkit-transition: 0.3s transform linear, 0.3s height linear 0.3s;
            -moz-transition: 0.3s transform linear, 0.3s height linear 0.3s;
            -ms-transition: 0.3s transform linear, 0.3s height linear 0.3s;
            -o-transition: 0.3s transform linear, 0.3s height linear 0.3s;
        }
        &:hover::after {
            border-color: #3498db;
            height: 100%;
            @include prefix(transform,
            translateX(0),
            webkit moz o ms);
            transition: 0.3s transform linear, 0.3s height linear 0.3s;
            -webkit-transition: 0.3s transform linear, 0.3s height linear 0.3s;
            -moz-transition: 0.3s transform linear, 0.3s height linear 0.3s;
            -ms-transition: 0.3s transform linear, 0.3s height linear 0.3s;
            -o-transition: 0.3s transform linear, 0.3s height linear 0.3s;
        }
    }
}

// css-parent-slider-gallery-2

/*
<!-- Start slider-gallery-2 -->
<div class="css-parent-slider-gallery-2">
  <ul class="img-wrapper">
    <li>
      <img
        src="images/440x440/image-1.jpg"
        alt=""
        class="img-fluid img-thumbnail"
      />
    </li>
    <li>
      <img
        src="images/440x440/image-2.jpg"
        alt=""
        class="img-fluid img-thumbnail"
      />
    </li>
    <li>
      <img
        src="images/440x440/image-3.jpg"
        alt=""
        class="img-fluid img-thumbnail"
      />
    </li>
  </ul>
</div>
<!-- End slider-gallery-2 -->
*/

.css-parent-slider-gallery-2 {
    width: 600px;
    margin: 0 auto;
    height: 100vh;
    ul.img-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        padding: 0;
        li {
            width: 70px;
            overflow: hidden;
            transition: all 1.5s;
            -webkit-transition: all 1.5s;
            -moz-transition: all 1.5s;
            -ms-transition: all 1.5s;
            -o-transition: all 1.5s;
            // display: inline-block;
            margin-left: 0;
            margin-right: 0;
            //
            img {
                width: 450px;
                border: 5px solid #f00;
                height: 100%;
            }
            &:hover {
                width: 700px;
                transition: all 1s;
                -webkit-transition: all 1s;
                -moz-transition: all 1s;
                -ms-transition: all 1s;
                -o-transition: all 1s;
            }
            &:nth-child(3) {
                width: 500px;
            }
            &:nth-child(3) :hover {
                width: 500px;
            }
        }
        &:hover li:nth-child(3) {
            width: 70px;
        }
    }
}

// parent-box-overlay-4

/*
<!-- Start box-overlay-4 -->
          <div class="parent-box-overlay-3">
            <div class="main-content">
              <div class="single-img">
                <img
                  src="images/440x440/image-1.jpg"
                  alt=""
                  class="img-fluid img-thumbnail"
                />
              </div>
              <div class="overlay">
                <h4>see more</h4>
                <p>price - $15</p>
              </div>
            </div>
          </div>
          <!-- End box-overlay-3 -->
*/

.parent-box-overlay-4 {
    @include flexCenter;
    width: 100%;
    height: 250px;
    position: relative;
    .main-content {
        overflow: hidden;
        display: flex;
        align-items: center;
        .single-img {
            display: flex;
            height: 100%;
            width: 100%;
            img {
                width: 100%;
                height: 100%;
                z-index: 1;
                @include prefix(transition,
                0.9s,
                webkit moz o ms);
            }
        }
        .overlay {
            position: absolute;
            left: 50%;
            top: 50%;
            @include translate(-50%,
            -50%);
            width: 100%;
            height: 100%;
            h4,
            p {
                position: absolute;
                background-color: #3498db;
                color: #fff;
                right: 25px;
                bottom: 40px;
                padding: 10px 30px;
                z-index: 2;
                @include opacity(0);
                @include prefix(transition,
                1s,
                webkit moz o ms);
                @include prefix(transform,
                translateX(-80%),
                webkit moz o ms);
                @include borderRadius(10px);
            }
            h4 {}
            p {
                font-size: 14px;
                background-color: rgb(77, 77, 77);
                bottom: -15px;
                @include prefix(transition,
                2s,
                webkit moz o ms);
            }
        }
        &:hover h4,
        &:hover p {
            @include opacity(1);
            @include prefix(transform,
            translateX(0%),
            webkit moz o ms);
        }
        &:hover .single-img {
            @include opacity(0.5);
        }
    }
}

// css-parent-team-back-to-face
.css-parent-team-back-to-face {
    .single-team {
        position: relative;
        width: 100%;
        height: 300px;
        background: transparent;
        .img-area {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 2;
            transform-origin: left;
            @include transition(1s);
            perspective: 1000px;
            @include rotateY(0deg);
            img {
                width: 100%;
                height: 100%;
            }
        }
        .img-text {
            position: absolute;
            padding: 25px;
            width: 100%;
            height: 250px;
            transform-origin: left;
            @include rotateY(90deg);
            text-align: center;
            box-sizing: border-box;
            @include transition(1s);
        }
        &:hover .img-area {
            perspective: 600px;
            @include rotateY(-90deg);
        }
        &:hover .img-text {
            @include rotateY(0deg);
            perspective: 600px;
        }
    }
}

// section haver box

/*
<div class="container-fluid">
        <div class="css-section-haver-box-parent">
          <div class="column active">
            <div class="content">
              <h1 class="">1</h1>
              <div class="box">
                <h2>what is lorem ipsum</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Natus architecto eos repellat ullam quam quod vitae commodi
                  vero ab eius id dolorem pariatur, necessitatibus quis dolorum
                  fugiat distinctio praesentium numquam.
                </p>
              </div>
            </div>
            <div class="bg bg1"></div>
          </div>
          <div class="column">
            <div class="content">
              <h1>2</h1>
              <div class="box">
                <h2>what is lorem ipsum</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Natus architecto eos repellat ullam quam quod vitae commodi
                  vero ab eius id dolorem pariatur, necessitatibus quis dolorum
                  fugiat distinctio praesentium numquam.
                </p>
              </div>
            </div>
            <div class="bg bg2"></div>
          </div>
          <div class="column hide-xs">
            <div class="content">
              <h1>3</h1>
              <div class="box">
                <h2>what is lorem ipsum</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Natus architecto eos repellat ullam quam quod vitae commodi
                  vero ab eius id dolorem pariatur, necessitatibus quis dolorum
                  fugiat distinctio praesentium numquam.
                </p>
              </div>
            </div>
            <div class="bg bg3"></div>
          </div>
        </div>
      </div>
*/

.css-section-haver-box-parent {
    width: 100%;
    height: 100vh;
    overflow: hidden !important;
    position: relative;
    display: grid;
    @include sm-md-media {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
        .column.hide-xs {
            display: none;
        }
    }
    @include md-lg-media {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    @include lg-media {
        grid-template-columns: repeat(auto-fill, minmax(33.33%, 1fr));
    }
    .column {
        height: 100%;
        z-index: 1;
        &:not(:last-of-type) {
            border-left: 2px solid #333;
        }
        .content {
            position: relative;
            height: 100%;
            h1 {
                position: absolute;
                top: 50%;
                @include translateY(-50%);
                width: 100%;
                background-color: rgba(0, 0, 0, 0.1);
                text-align: center;
                margin: 0;
                padding: 0;
                color: rgba(255, 255, 255, 2);
                font-size: 15em;
                font-weight: bolder;
                border-top: 2px solid #333;
                border-bottom: 2px solid #333;
                @include xs-media {
                    font-size: 5em;
                }
            }
            .box {
                @include borderRadius(5px);
                position: absolute;
                top: 50%;
                @include translateY(100%);
                padding: 40px 20px;
                background-color: rgba(255, 255, 255, 1);
                @include transitionAll(all,
                0.5s,
                linear);
                @include opacity(0);
                h2 {
                    margin: 0;
                    padding: 0;
                    font-size: 30px;
                    color: #262626;
                    margin-bottom: 20px;
                }
                p {
                    font-size: 18px;
                    color: #262626;
                }
            }
        }
        .bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            z-index: -1;
        }
        &.active .bg.bg1 {
            background: url(../images/440x440/image-1.jpg);
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
            @include transitionAll(all,
            0.5s,
            linear);
        }
        &.active .bg.bg2 {
            background: url(../images/440x440/image-2.jpg);
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
            @include transitionAll(all,
            0.5s,
            linear);
        }
        &.active .bg.bg3 {
            background: url(../images/440x440/image-3.jpg);
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
            @include transitionAll(all,
            0.5s,
            linear);
        }
        &.active .bg.bg4 {
            background: url(../images/440x440/image-4.jpg);
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
            @include transitionAll(all,
            0.5s,
            linear);
        }
        &.active {
            .content {
                .box {
                    @include translateY(-50%);
                    opacity: 1;
                }
            }
        }
    }
}

.css-box-read-more {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff173;
    height: 100%;
    .child {
        position: relative;
        max-width: 90%;
        h2 {
            font-weight: 600;
            margin-bottom: 10px;
            color: #333;
        }
        img {
            display: block;
            margin-bottom: 20px;
        }
        button {
            position: relative;
            padding: 5px 20px;
            display: inline-block;
            margin-bottom: 20px;
            text-decoration: none;
            color: #fff;
            background-color: #111;
        }
    }
}

.css-box-read-more#jq-box-read-more.activeShow {
    filter: blur(2px);
    -webkit-filter: blur(2px);
    pointer-events: none;
    user-select: none;
}

.css-popup-box-read-more {
    position: fixed;
    top: 40%;
    left: 50%;
    @include translate(-50%,
    -50%);
    width: 600px;
    padding: 50px;
    padding-bottom: 20px;
    @include boxShadow(-1px,
    0px,
    10px,
    #000);
    background-color: #fff;
    z-index: 200;
    visibility: hidden;
    opacity: 0;
    @include transitionAll(all,
    0.3s,
    linear);
    button {
        position: relative;
        padding: 5px 20px;
        display: inline-block;
        margin-bottom: 20px;
        text-decoration: none;
        color: #fff;
        background-color: #111;
    }
    &.activeShow {
        visibility: visible;
        opacity: 1;
        top: 50%;
    }
}


/*
<div class="parent-box-icon-have-back-text">
            <div class="card">
              <div class="face face1">
                <div class="content">
                  <i class="fa fa-cog fa-fw fa-3x"></i>
                  <h3>Services:</h3>
                </div>
              </div>
              <div class="face face2">
                <div class="content">
                  <p>
                    Services contain the business logic and data sources for the app. Apps talk to these services through an Application Programming Interface (API), which you can think of like the cord that plugged into the back of Neo’s head. When folks talk about “the cloud”, this is what they’re typically referring to. These services may be first-party (built by the app’s company), or third- party (using one or more services made by someone else).</p>
                </div>
              </div>
            </div>
          </div>
*/

// parent-box-icon-have-back-text
.parent-box-icon-have-back-text {
    position: relative;
    .card {
        position: relative;
        cursor: pointer;
        &:hover .face.face1 {
            background-color: $main-color;
            @include translateY(0);
            min-height: 100px;
        }
        &:hover .face.face2 {
            @include translateY(0);
        }
        &:hover .face.face1 .content {
            opacity: 1;
        }
        .face {
            width: 100%;
            min-height: 400px;
            @include transitionAll(all,
            0.5s,
            linear);
            overflow: hidden;
        }
        .face.face1 {
            position: relative;
            background-color: #333;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
            @include translateY(200px);
            .content {
                text-align: center;
                opacity: 0.2;
                @include transitionTime(0.5s);
                img {
                    max-width: 100px;
                }
                h3 {
                    margin: 10px 0 0;
                    padding: 0;
                    color: #fff;
                    text-align: center;
                    font-size: 1.5em;
                }
            }
        }
        .face.face2 {
            position: relative;
            color: $main-color;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            box-sizing: border-box;
            @include boxShadow(0,
            20px,
            50px,
            #000);
            @include translateY(-200px);
            height: 400px;
        }
    }
}

// parent-dynamic-tabs

/*
<section class="parent-dynamic-tabs">
          <div class="container">
            <div class="dynamic-tabs">
              <ul class="tabs-list">
                <li class="active" data-content=".content-one">
                  Mediciric Objectives
                </li>
                <li data-content=".content-tow">STATISTICS</li>
              </ul>
              <div class="row">
                <div class="col-xs-12">
                  <div class="content-list">
                    <div class="content-one ">Objectives</div>
                    <div class="content-tow ">STATISTICS</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        
        **************** pug *************
        section(class="parent-dynamic-tabs")
            div(class="container") 
                div(class="dynamic-tabs") 
                    ul(class="tabs-list") 
                        li(class="active", data-content=".content-one")   Mediciric Objectives
                        li(data-content=".content-tow") STATISTICS
                    div(class="row") 
                        div(class="col-xs-12")
                            div(class="content-list") 
                                div(class="content-one") Objectives
                                div( class="content-tow") STATISTICS
*/

.parent-dynamic-tabs {
    .dynamic-tabs {
        ul.tabs-list {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                display: inline-block;
                position: relative;
                padding: 15px 30px;
                background-color: $main-color;
                top: 1px;
                cursor: pointer;
                border: 1px solid #ccc;
                font-weight: bold;
                color: #fff;
                @include transitionAll(all,
                0.5s,
                linear);
                &:hover {
                    color: $text-color;
                }
            }
            li.active {
                color: $text-color;
                border-bottom: 1px solid $main-color;
                z-index: 2;
            }
        }
        .content-list {
            background-color: $main-color;
            border: 1px solid #ccc;
            position: relative;
            &>div {
                padding: 20px;
                min-height: 300px;
                color: #fff;
            }
            &>div:not(:first-child) {
                display: none;
            }
        }
    }
}

// form
.box-form {
    margin-top: 25px;
    position: relative;
    display: inline-block;
    width: 100%;
    form {
        div.input-group {
            margin-bottom: 30px;
            input,
            textarea {
                font-size: $page-font;
                padding: 10px 10px 10px 5px;
                display: block;
                width: 90%;
                border: 1px solid $third-color;
                background-color: transparent;
                color: #fff;
                margin: auto;
                @include borderRadius(5px);
                @include transitionAll(all,
                0.5s,
                linear);
                &:focus {
                    outline: none;
                    border: 1px solid $main-color;
                }
            }
            label {
                color: #999;
                font-size: $page-font;
                position: absolute;
                pointer-events: none;
                right: 20px;
                top: 10px;
                @include transitionAll(all,
                0.3s,
                linear);
            }
            input:focus~label,
            input:valid~label {
                top: -20px;
                font-size: $page-font - 3;
                color: $main-color;
            }
            textarea:focus~label {
                top: -20px;
                font-size: $page-font - 3;
                color: $main-color;
            }
        }
        a {
            text-decoration: none;
            background-color: $main-color;
            color: #fff;
            padding: 10px 35px;
            margin-left: 40px;
            @include borderRadius(5px);
            text-transform: uppercase;
            margin-top: 15px;
            display: inline-block;
            letter-spacing: 3px;
            i {}
        }
    }
}

// icon disc word

/*
span(class="icon-disc-word", data-text="font")
    i(class="flaticon-man" )
*/

.icon-disc-word {
    position: relative;
    color: $main-color;
    &::before {
        content: attr(data-text);
        text-align: center;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -50%;
        z-index: 1;
        padding: 5px 10px;
        font-size: 16px;
        font-weight: 500;
        // opacity: 0;
        min-width: 100px;
        // width: fit-content;
        pointer-events: none;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -webkit-transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -moz-transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -ms-transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -o-transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        @include borderRadius(5px);
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        z-index: 1;
        opacity: 0;
        pointer-events: none;
        transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -webkit-transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -moz-transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -ms-transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -o-transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        border-style: solid;
        border-width: 10px;
        border-color: $main-color transparent transparent transparent;
    }
    &:hover::before {
        background-color: $main-color;
        color: white;
        @include transition(0.5s);
        top: -50px;
        opacity: 1;
        pointer-events: auto;
    }
    &:hover::after {
        color: white;
        @include transition(0.5s);
        top: -20px;
        opacity: 1;
    }
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-end;
    height: 100vh;
    background-color: #999;
    >div {
        background-color: #333;
        color: #999;
        font-size: $font-lg;
        height: 50px;
        line-height: 50px;
        text-align: center;
        width: calc(92% / 7);
        // width: calc(100% / 4);
        border: 2px solid #f00;
        margin: 1%;
    }
    .three {
        height: 100px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-grow: 2;
    }
    .four {
        flex-shrink: 1;
    }
}