nav(class="navbar navbar-expand-lg navbar-light  fixed-top jq-navbar-change-color")
    div(class="container") 
        a(class="navbar-brand" href="index.html") 
            img(src="images/logo.png" alt="")
        button(class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            span(class="navbar-toggler-icon")
        div(class="collapse navbar-collapse" id="navbarSupportedContent")
            ul(class="navbar-nav jq-scroll-to-element")
                li(class="nav-item" rel="one" data-text="Home")
                    a(class="nav-link active" aria-current="page" href="index.html") Home
                li(class="nav-item")
                    a(class="nav-link" href='projects.html') Projects
                li(class="nav-item")
                    a(class="nav-link" href='about.html') About Us 
                //- li(class="nav-item dropdown")
                //-     a(class="nav-link dropdown-toggle" href='about.html' id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false") About us  
                //-     ul(class="dropdown-menu" aria-labelledby="navbarDropdown")
                //-         li 
                //-             a(class="dropdown-item" href="about.html") About Us 
                //-         li 
                //-             a(class="dropdown-item" href="story.html") story 
                //-         li 
                //-             a(class="dropdown-item" href="services.html") services 
                li(class="nav-item")
                    a(class="nav-link" href='contact.html') Contact 
                li(class="nav-item")
                    a(class="nav-link" href='blog.html') Blog 
                li(class="nav-item")
                    a(class="nav-link" href='portfolio.html') portfolio 
                li(class="nav-item")
                    a(class="nav-link" href='category.html') category 

                //- li(class="nav-item dropdown")
                //-     a(class="nav-link dropdown-toggle" href='#' id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false") Pages
                //-     ul(class="dropdown-menu" aria-labelledby="navbarDropdown")
                //-         li 
                //-             a(class="dropdown-item" href="home.html") Home
                //-         li 
                //-             a(class="dropdown-item" href="aboutMe.html") about me 
                //-         li 
                //-             a(class="dropdown-item" href="category.html") category 
                //-         li 
                //-             a(class="dropdown-item" href="blogSingle.html") blog single 
                //-         li 
                //-             a(class="dropdown-item" href="portfolio.html") portfolio
                //-         li 
                //-             a(class="dropdown-item" href="portfolioSingle.html") portfolio single
                //-         li 
                //-             a(class="dropdown-item" href="404.html") 404



span(class="share" href='#') Lang

//- Links Fade In On Click
div(class="links")
    span(class="")
        a(class="" href="index-ar.html") عربى
    span(class="")
        a(class="" href="index.html") English


