//- Start Progress Bar
//- div(class='animated-progress progress-red' id='IdName')
//-     span(data-progress='30%' )
//- End Progress Bar

//- Start Progress Bar
//- div(class='animated-progress progress-blue')
//-     span(data-progress='60%' )
//- End Progress Bar

//- Start Progress Bar
//- div(class='animated-progress progress-blue')
//-     span(data-progress='90%' )
//- End Progress Bar