//- JQuery
// JQuery
//- script(src="https://hossamrashad.github.io/libraries/js/JQuery/jquery-3-6-0.min.js")
script(src="js/libs/JQuery/jquery-3-6-0.min.js")

//- bootstrap
// bootstrap
//- script(src="https://hossamrashad.github.io/libraries/js/bootstrap/bootstrap-5.0.1-min.js")
script(src="js/libs/bootstrap/bootstrap-5.0.1-min.js")

//- owl
// owl
script(src="js/libs/owl/jquery.mousewheel.min.js")
script(src="js/libs/owl/owl.carousel.min.js")

//- countTo
// countTo
script(src="js/libs/countTo/jquery.countTo.js")