//- JQuery
// JQuery
//- script(src="https://hossamrashad.github.io/libraries/js/JQuery/jquery-3-6-0.min.js")
script(src="js/libs/JQuery/jquery-3-6-0.min.js")

//- JQuery Ui
//- script(src="js/libs/jqueryUi/jquery-ui.js")

//- bootstrap
// bootstrap
//- script(src="https://hossamrashad.github.io/libraries/js/bootstrap/bootstrap-5.0.1-min.js")
script(src="js/libs/bootstrap/bootstrap-5.0.1-min.js")

//- wow
//- script(src="https://hossamrashad.github.io/libraries/js/wow/wow.min.js")
//- script(src="js/libs/wow/wow.min.js")

//- owl
//- script(src="https://hossamrashad.github.io/libraries/js/owl/jquery.mousewheel.min.js")
//- script(src="https://hossamrashad.github.io/libraries/js/owl/owl.carousel.min.js")
script(src="js/libs/owl/jquery.mousewheel.min.js")
script(src="js/libs/owl/owl.carousel.min.js")

//- magnific
//- script(src="https://hossamrashad.github.io/libraries/js/magnific/jquery.magnific-popup.js")
script(src="js/libs/magnific/jquery.magnific-popup.js")

//- Show-And-Hide-box
//- script(src="https://hossamrashad.github.io/libraries/js/Show-And-Hide-box/jquery.expandable.js")
//- script(src="js/libs/Show-And-Hide-box/jquery.expandable.js")

//- gmaps
//- script(src="http://maps.google.com/maps/api/js")
//- script(src="https://hossamrashad.github.io/libraries/js/gmap/gmaps.min.js")
//- script(src="js/libs/gmap/gmaps.min.js")

//- Nivo slide
// Nivo slide
//- script(src="https://hossamrashad.github.io/libraries/js/nivo-slider/jquery.nivo.slider.pack.js")
//- script(src="https://hossamrashad.github.io/libraries/js/nivo-slider/jquery.nivo.slider.js")
script(src="js/libs/nivo-slider/jquery.nivo.slider.pack.js")
script(src="js/libs/nivo-slider/jquery.nivo.slider.js")

//- snake
//- script(src="https://hossamrashad.github.io/libraries/js/snake/snake.min.js")

//- typed
//- script(src="https://hossamrashad.github.io/libraries/js/typedjs/typed.min.js")

//- Mixitup
//- script(src="https://hossamrashad.github.io/libraries/js/filter/mixitup.min.js")

//- countTo
//- script(src="https://hossamrashad.github.io/libraries/js/countTo/jquery.countTo.js")

//- fittext
//- script(src="https://hossamrashad.github.io/libraries/js/fittext/jquery.fittext.js")

//- Cookies

//- script(src="https://hossamrashad.github.io/libraries/js/cookies/cookie.umd.min.js") 

//- Plugin Work 
//- script(src="js/plugin-work.js")

//- My Tools
//- //- script(src="js/tools.js")
//- script(src="https://unpkg.com/react@17/umd/react.development.js" crossorigin) 
//- script(src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin) 
//- script(src="https://unpkg.com/babel-standalone@6/babel.min.js") 

script(src="js/libs/isotope/isotope-docs.min.js")
script(src="js/libs/countTo/jquery.countTo.js")