@import "./mixin/mixin";
@import "./footer/footer";
body {
  //   background-color: rgb(255, 255, 255);
  // height: 3000px;
}
.parent-bg-animate {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;

  .bg-animate {
    background-color: rgb(241, 241, 241);
    opacity: 0.6;
    position: fixed;
    bottom: 10%;
    right: 10%;
    width: 60%;
    height: 60%;
    z-index: -2;
    // opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 0.1;
    animation: loopCircle 30s linear 0s infinite normal;
  }
}

main.page-about {
  position: relative;

  .header-wrapper {
    padding-top: 130px;
    background-color: #fff;
    background-image: linear-gradient(to right, #fff 65%, #f1f1f1 35%);

    .slider-about {
      h2 {
        max-width: 75%;
        font-family: "futurastd-bold";
        text-transform: uppercase;
        padding-bottom: 20px;
        font-size: 44px;
        letter-spacing: 2px;
        font-weight: bold;
      }
      h3 {
        max-width: 75%;
        line-height: 26px;
        font-size: 12px;
        font-weight: bold;
        text-align: left;
        font-family: "futurastd-bold";
        text-transform: uppercase;
        margin-bottom: 10px;
        color: #666;
        span {
          max-width: 550px;
        }
      }
    }
    // start arrow
    .parent-arrow {
      position: relative;
      width: 100%;
      display: block;
      height: 120px;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      flex-direction: column;
      .child {
        padding: 10px 0;
        border-top: 2px solid #ccc;
        width: 50px;
        height: 80px;
        position: relative;
        border-top: 1px solid #f1f1f1;
        border-bottom: 1px solid #f1f1f1;
        .arrow-right,
        .arrow-left {
          display: block;
          width: 100%;
          text-align: center;
        }
        .arrow-right {
          position: relative;
          &::before {
            content: "";
            position: absolute;
            height: 3px;
            width: 0%;
            background-color: #000;
            right: 0;
            top: -10px;
          }
          @include hover {
            &::before {
              width: 100%;
              z-index: 2;
            }
          }
        }
      }
    }
    // end arrow
    // start disc-bottom-slider
    .disc-bottom-slider {
      max-width: 72%;
      padding: 50px 0 50px;
      margin-top: 60px;
      position: relative;
      p {
        font-size: 15px;
        line-height: 24px;
        padding-bottom: 10px;
      }
    }
    // end disc-bottom-slider
    .hr {
      height: 6px;
      background-color: #f1f1f1;
      margin: 60px 0;
    }
    // Start row-parent-jq-countTo
    .row-parent-jq-countTo {
      .dash {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: 0%;
          left: 20%;
          width: 60%;
          background: #000;
          height: 6px;
          margin-top: 20%;
        }
      }
      .jq-countTo {
        color: #000;
      }
      p {
        color: #000;
        margin-top: 30px;
        font-size: 16px;
      }
    }
    // End row-parent-jq-countTo
    .singe-team {
      position: relative;
      .team-social {
        @include positionCenter;
        @include opacity(0);
        z-index: 10;
        li {
          display: inline-block;
          padding: 0 3px;
          transform: translateY(10px);
          &:first-child {
            transition: all 0.3s linear;
          }
          &:nth-child(2) {
            transition: all 0.4s linear;
          }
          &:nth-child(3) {
            transition: all 0.5s linear;
          }
          &:last-child {
            transition: all 0.6s linear;
          }
          a {
            color: #fff;
          }
        }
      }
      .image {
        position: relative;
        overflow: hidden;
        img {
          transition: all 0.3s linear;
          @include hover {
            filter: brightness(0.5);

            &::before {
              transform: translateY(0);
            }
          }
        }
        @include hover {
          img {
            filter: brightness(0.5);
          }
          &::before {
            transform: translateY(0);
          }
        }
        &::before {
          content: "Find on";
          position: absolute;
          bottom: 0;
          right: 0;
          background-color: #fff;
          padding: 10px 15px;
          font-size: 11px;
          transform: translateY(50px);
          transition: all 0.3s linear;
        }
        @include hover {
          &::before {
            transform: translateY(0);
          }
        }
      }
      .overlay {
        position: absolute;
        background-color: rgba(102, 102, 102, 0.459);
        width: 100%;
        height: 100%;
        &::before {
          content: "";
          position: absolute;
          right: 0;
          bottom: 0;
          width: 5px;
          height: 50px;
          background-color: #000;
          transition: all 0.5s linear;
        }
        &::after {
          content: "";
          position: absolute;
          right: 0;
          bottom: 0;
          width: 50px;
          height: 5px;
          background-color: #000;
          transition: all 0.5s linear;
        }
      }

      .team-info {
        margin: 20px 0;
        background-color: #fff;
        z-index: 2;
        height: 70px;
        h3 {
          font-size: 19px;
          padding-bottom: 4px;
        }
        h4 {
          font-size: 0.7em;
          font-weight: 600;
          padding-bottom: 10px;
        }
      }

      &::before {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        width: 5px;
        height: 0px;
        background-color: #000;
        transition: all 0.3s linear;
      }
      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        width: 0px;
        height: 5px;
        background-color: #000;
        transition: all 0.3s linear;
      }
      @include hover {
        .team-social {
          @include opacity(1);
          z-index: 10;
          li {
            transform: translateY(-20px);
          }
        }
        &::before {
          height: 50px;
        }
        &::after {
          width: 50px;
        }
        .image {
          &::before {
            transform: translateY(0);
          }
        }
      }
    }
  }
  .font-show-hide-one {
    float: right;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: relative;
    cursor: pointer;
    margin: 30px 10px;
    &::before {
      top: 50%;
      left: 0;
      width: 100%;
      height: 4px;
      margin-top: -2px;
      content: "";
      position: absolute;
      background: #000;
      transition: all 300ms linear;
    }
    &::after {
      top: 0;
      left: 50%;
      width: 4px;
      height: 100%;
      margin-left: -2px;
      content: "";
      position: absolute;
      background: #000;
      transition: all 300ms linear;
    }
  }
  .parent-hide-info {
    width: 100%;
    display: none;
    margin: 20px 0;
    padding: 30px 0;
  }
  .hidden-info {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(23%, 1fr));
    gap: 0px 5px;
    .box-item {
      a {
        img {
          transition: all 0.3s linear;
          height: 80px;
          @include hover {
            filter: brightness(0.4);
          }
        }
      }
    }
  }
  // bg animate
  // wrapper
  .wrapper {
    position: relative;
    .wrapper-child {
      .section-left {
        background-color: #fff;

        // End slider about
      }
    }
    
  }
  .hr-hr {
    width: 98%;
  }
  .we-do {
    position: relative;
    a {
      overflow: hidden;
      display: block;
      img {
        height: 150px;
        transition: all 0.3s linear;
      }
    }
    .services-info {
      background: #fff;
      float: right;
      width: 90%;
      top: -50px;
      padding: 30px;
      position: relative;
      z-index: 2;
      transition: all 300ms linear;
      h4{
        font-size: 20px;
      }
      ul {
        li {
          font-size: 13px;
          list-style: circle;
          text-align: left;
          letter-spacing: 1px;
          float: left;
          width: 100%;
          margin-bottom: 10px;
        }
      }
      &::before {
        content: "";
        position: absolute;
        background: #000;
        right: 0;
        bottom: 0;
        transition: all 300ms linear;
        height: 40px;
        width: 6px;
      }
      &::after {
        content: "";
        position: absolute;
        background: #000;
        right: 0;
        bottom: 0;
        transition: all 300ms linear;
        height: 6px;
        width: 40px;
      }
    }
    @include hover {
      a{
        img{
          transform: scale(1.1);
          filter: brightness(0.5);
          
        }
      }
      .services-info {
        top: 0;
        width: 100%;
        &::after {
          width: 0;
          height: 0;
        }
        &::before {
          width: 0;
          height: 0;
        }
      }
    }
  }
}

@keyframes loopCircle {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
  }
  100% {
    transform: rotate3d(0, 0, 1, 180deg);
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
  }
}

.dsf {
  transition: all 0.5s linear;
}

.about-hr {
  display: block;
  background-color: #f1f1f1;
  height: 5px !important;
}

.start-border {
  background-color: #000;
  height: 5px;
  margin: 50px auto;
  width: 95%;
}
