@import "./mixin/mixin";
// Global
.section-right-parent{
  background-image: url(../images/bg/long/7.jpg);
}
.page-blog {
  .header-wrapper {
    .slider-blog {
      margin: 200px 0 50px 0;
      h3.h5 {
        @include mq(10000px) {
          font-size: 21px;
          margin: 15px 0;
        }
        @include mq(1566px) {
          font-size: 20px;
          margin: 15px 0;
        }
        @include mq(1200px) {
          font-size: 19px;
          margin: 15px 0;
        }
        @include mq(992px) {
          font-size: 18px;
          margin: 15px 0;
        }
        @include mq(786px) {
          font-size: 17px;
          margin: 15px 0;
        }
        @include mq(576px) {
          font-size: 16px;
          margin: 15px 0;
        }
        @include mq(450px) {
          font-size: 15px;
          margin: 15px 0;
        }
        @include mq(350px) {
          font-size: 14px;
          margin: 15px 0;
        }
        @include mq(250px) {
          font-size: 11px;
          margin: 15px 0;
        }
      }
    }
  }
  .hr {
    height: 6px;
    background-color: var(--div-hr);
  }
  .grid-item {
    margin-top: 100px;
    //   Ul
    .grid-title {
      margin: 30px 0;
      li {
        display: inline-block;
        a {
          color: var(--text-color-3);
          font-weight: bold;
          font-size: var(--page-font-1);
        }
      }
    }
    // Images & Video
    .blog-media {
      overflow: hidden;
      display: block;
      width: 100%;
      transform: translate(all 0.3s linear);
      a {
        width: 100%;
        transform: translate(all 0.3s linear);
        img {
          width: 100%;
          transform: translate(all 0.3s linear);
        }
        iframe {
          height: 163px;
          width: 100%;
          display: block;
        }
      }
      @include hover {
        a {
          img {
            filter: brightness(0.4);
            transform: scale(1.1);
          }
        }
      }
    }
    // Text
    .blog-text {
      padding: 30px 0;
      h3 {
        font-weight: bold;
        font-size: 20px;
        text-transform: capitalize;
      }
      p {
        color: var(--text-color-1);
        font-size: var(--page-font-2);
        padding: 20px 0;
      }
    }
  }
}
.link-old-post {
  margin: 40px 0;
  i {
    font-size: 30px;
  }
}
