@import './mixin/mixin';
// Global
.section-right-parent{
  background-image: url(../images/bg/long/9.jpg);
}


.header-title-disk-contact{
  margin: 150px 0;
  @include mq(10000px) {
    width: 70%;

  }
  @include mq(1566px) {
    width: 70%;

  }
  @include mq(1200px) {
    width: 70%;

  }
  @include mq(992px) {
    width: 70%;
  }
  @include mq(786px) {
    width: 100%;

  }
  @include mq(576px) {
  }
  @include mq(450px) {
  }
  @include mq(350px) {
  }
  @include mq(250px) {
    width: 100%;

  }
}
.title-input {
  border-bottom: 10px solid #000;
  padding-top: 100px;
  padding-bottom: 60px;
  a {
    display: block;
    color: #000;
  }
}
.contact-form {
  form {
    input,
    textarea {
      border: none;
      border-bottom: 3px solid #999;
      &:focus {
        outline: none !important;
        box-shadow: none !important;
        border-bottom: 3px solid #999;
      }
    }
    .number {
      width: 100px !important;
    }
    button {
    //   float: left;
      border: none;
      background: none;
      padding: 15px 30px 15px 0;
      line-height: 17px;
      cursor: pointer;
      letter-spacing: 2px;
      font-weight: 800;
      font-size: 16px;
      color: #000;
      letter-spacing: 2px;
      -webkit-appearance: none;
      font-family: "FuturaPT-Book";
      transition: all 200ms linear;
    }
  }
}
