@import "./mixin/mixin";

.parent-grid-item-project {
  margin-top: 100px;
  margin-bottom: 100px;
  display: grid;
  gap: 0px 0px;
  @include mq(10000px) {
    grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
  }
  @include mq(1566px) {
    grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
  }
  @include mq(1200px) {
    grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
  }
  @include mq(787px, 992px) {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
  @include mq(577px, 786px) {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
  @include mq(576px) {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
  @include mq(450px) {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
  @include mq(350px) {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
  @include mq(250px) {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
  .grid-item-child {
    height: 250px;
    overflow: hidden;
    .grid-item {
      height: 100%;
      width: 100%;
      display: block;
      position: relative;
      .img {
        height: 100%;
        width: 100%;
        position: relative;
        a {
          height: 100%;
          width: 100%;
          display: block;
          img {
            height: 100%;
            width: 100%;
            transition: all 0.3s linear;
          }
        }
      }

      .text {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0%;
        opacity: 0;
        background-color: #fff;
        padding: 20px 0 10px 10px;
        transition: all 0.3s linear;
        h4 {
          margin-left: 20px;
          a {
            color: #000;
          }
        }
        span {
          margin-left: 20px;
        }
      }
      @include hover {
        img {
          filter: brightness(0.4);
          transform: scale(1.1);
        }
        .text {
          height: 35%;
          opacity: 1;
        }
      }
    }
  }
}

.btn-filet {
  position: fixed;
  bottom: 0;

  background-color: #fff;
  border-radius: 5px;
  button {
    border: 2px solid transparent;
    transition: all 0.3s linear;
    &:focus {
      outline: none !important;
      box-shadow: none !important;
    }
    @include hover {
      border: 2px solid #333;
    }
    @include mq(300px) {
      font-size: 12px;
    }
  }
  @include mq(10000px) {
    right: 60px;
    z-index: 1000;
  }
  @include mq(1566px) {
    right: 60px;
    z-index: 1000;
  }
  @include mq(1200px) {
    right: 60px;
    z-index: 1000;
  }
  @include mq(992px) {
    right: 60px;
    z-index: 1000;
  }
  @include mq(786px) {
    right: 60px;
    z-index: 1000;
  }
  @include mq(576px) {
    right: 60px;
    z-index: 1000;
  }
  @include mq(450px) {
    right: 60px;
    z-index: 1000;
  }
  @include mq(350px) {
    right: 60px;
    z-index: 1000;
  }
  @include mq(250px) {
    right: 60px;
    z-index: 1000;
  }
}
