// +btnOne('button')
//- block btnOne
//-     a(href="#" class="css-btn-hover-one btn-display-none")
//-         span(class="") Rashad
br
// +btnTow('button')
//- go to js and search for class 
//- block btnTow
//-     a(href="#" class="css-btn-hover-tow btn-display-none" target="_blank")
//-         span(class="") hossam
//-         span(class="") hossam

//- +btnTomMixin
//- mixin btnTomMixin(btnTomMixin)
//-   a(href="#" class="css-btn-hover-tow btn-display-none" target="_blank")
//-         span(class="")= btnTomMixin
//-         span(class="")= btnTomMixin

//- Button Effects
//- div(class='buttons-effects')
//-     button(class="buttons-effect jq-back-to-left")
//-         span(class="") Back From Left
//-     button(class="buttons-effect jq-back-to-top")
//-         span(class="") Back From Top
//-     button(class="buttons-effect jq-border-to-left")
//-         span(class="") border From left
//-     button(class="buttons-effect jq-border-to-top")
//-         span(class="") border From Top
//-     button(class="buttons-effect jq-bounce") Bounce


