
footer(class="footer" id="footer")
    div(class="container")
        div(class="row")
            div(class="col-md-3")
                img(src="images/footer-logo.png", alt="alt")
            div(class="col-md-2")
            div(class="col-md-7")
                div(class="row")
                    div(class="col-xs-6")
                        div(class="footer-address") 
                            span(class="d-block") USA 27TH BROOKLYN NY
                            a(href="#" target="_blank") View On Map
                    div(class="col-xs-6")
                        div(class="footer-contact")
                            span(class="d-block") +7(111)123456789
                            a(href="#" target="_blank") yourmail@domain.com
            div(class="col-md-5")
            div(class="col-md-7")
                p  © Domik   2015.  All rights reserved.  

div(class="d") .