
footer(class="footer" id="footer")
    div(class="container")
        div(class="row")
            div(class="col-md-2 pb-4")
                img(src="images/logo/logo.jpg" alt="alt" class='')
            div(class="col-md-1")
            div(class="col-md-9")
                div(class="row")
                    h4(class='text-capitalize header') african trade contracting
                    div(class="col")
                        div(class="footer-address") 
                            span(class="d-block") 
                                i(class="fas fa-map-marker fa-fw")
                                | African Trade and Contracting, 70, King Faisal Street, Atati, Haram, Giza Faisal
                            a(href="https://www.google.com/search?q=%D8%A7%D9%84%D8%A7%D9%81%D8%B1%D9%8A%D9%82%D9%8A%D8%A9+%D9%84%D9%84%D8%AA%D8%AC%D8%A7%D8%B1%D8%A9+%D9%88%D8%A7%D9%84%D9%85%D9%82%D8%A7%D9%88%D9%84%D8%A7%D8%AA%D8%8C+70%D8%8C+%D8%B4%D8%A7%D8%B1%D8%B9+%D8%A7%D9%84%D9%85%D9%84%D9%83+%D9%81%D9%8A%D8%B5%D9%84%D8%8C+%D8%B9%D8%B7%D8%A7%D8%B7%D9%8A%D8%8C+%D8%A7%D9%84%D9%87%D8%B1%D9%85%D8%8C+%D8%A7%D9%84%D8%AC%D9%8A%D8%B2%D8%A9+%D9%81%D9%8A%D8%B5%D9%84&newwindow=1&rlz=1C1CHZN_enEG965EG965&tbm=lcl&sxsrf=AOaemvJzC6TVJtY122H6xwhRI9he_P3xjw%3A1636298977827&ei=4fCHYfzjMYzBUqiEjcAP&oq=%D8%A7%D9%84%D8%A7%D9%81%D8%B1%D9%8A%D9%82%D9%8A%D8%A9+%D9%84%D9%84%D8%AA%D8%AC%D8%A7%D8%B1%D8%A9+%D9%88%D8%A7%D9%84%D9%85%D9%82%D8%A7%D9%88%D9%84%D8%A7%D8%AA%D8%8C+70%D8%8C+%D8%B4%D8%A7%D8%B1%D8%B9+%D8%A7%D9%84%D9%85%D9%84%D9%83+%D9%81%D9%8A%D8%B5%D9%84%D8%8C+%D8%B9%D8%B7%D8%A7%D8%B7%D9%8A%D8%8C+%D8%A7%D9%84%D9%87%D8%B1%D9%85%D8%8C+%D8%A7%D9%84%D8%AC%D9%8A%D8%B2%D8%A9+%D9%81%D9%8A%D8%B5%D9%84&gs_l=psy-ab.3...3227.3227.0.3722.1.1.0.0.0.0.127.127.0j1.1.0....0...1c.1.64.psy-ab..0.0.0....0.TUL9CNt33EA#rlfi=hd:;si:;mv:[[30.005071910990978,31.14769065849049],[30.000672555200453,31.138501484401957],null,[30.002872257476916,31.143096071446223],18]" target="_blank") 
                                i(class="fas fa-map fa-fw ")
                                | View On Map
                    div(class="col")
                        div(class="footer-contact")
                            span(class="d-block") 
                                a(href="https://www.facebook.com/AfricanTradeegypt/")
                                    i(class="fab fa-facebook fa-fw")
                                    | join us on facebook
                            span(class="d-block") 
                                a(href="https://wa.me/0201023345012")
                                    i(class="fab fa-whatsapp fa-fw")
                                    | +02 01023345012 
                            span(class="d-block") 
                                a(href="tel:")
                                    i(class="fas fa-headphones-alt fa-fw")
                                    | +02 01227348043 
                            span(class="d-block") 
                                a(href="https://wa.me/0201023345012")
                                    i(class="fas fa-phone-alt fa-fw ")
                                    | +202 37457038
                            span(class="d-block") 
                                a(href="#" target="_blank") 
                                    i(class="fas fa-envelope fa-fw")
                                    | africen@domain.com
                    div(class="col")
                        div(class='link-pages')
                            span
                                a(href="index.html") Home Page
                            span(class='')  
                                a(href="doors-system.html") Doors System
                            span(class='')
                                a(href="about") about Us
                            span(class='')
                                a(href="contact.html") contact
                            span(class='')
                                a(href="blog.html") blog

    div(class='copyright')
        p(class='lead d-inline-block ')  Copyright © 2021 Web Design. All rights reserved. Designed by
        div(class='link')
            a(href="#" target='_blank')  
                div(class='css-parent-text-shadow-15-5')
                    h4(class='h5') Smart Group

