.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
    @include opacity(0);
}