//
.animation.animated-item-1 {
  -webkit-animation: fadeInUp 300ms linear 300ms both;
  animation: fadeInUp 300ms linear 300ms both;
}

.animation.animated-item-2 {
  -webkit-animation: fadeInUp 300ms linear 600ms both;
  animation: fadeInUp 300ms linear 600ms both;
}

.animation.animated-item-3 {
  -webkit-animation: fadeInUp 300ms linear 900ms both;
  animation: fadeInUp 300ms linear 900ms both;
}

.animation.animated-item-4 {
  -webkit-animation: fadeInUp 300ms linear 1200ms both;
  animation: fadeInUp 300ms linear 1200ms both;
}

.animation.animated-item-5 {
  -webkit-animation: fadeInUp 300ms linear 1500ms both;
  animation: fadeInUp 300ms linear 1500ms both;
}
.animation.animated-item-6 {
  -webkit-animation: fadeInUp 300ms linear 1750ms both;
  animation: fadeInUp 300ms linear 1750ms both;
}
.animation.animated-item-7 {
  -webkit-animation: fadeInUp 300ms linear 2000ms both;
  animation: fadeInUp 300ms linear 2000ms both;
}

.animation.animated-item-7 {
  -webkit-animation: fadeInUp 300ms linear 2250ms both;
  animation: fadeInUp 300ms linear 2250ms both;
}

.animation.animated-item-8 {
  -webkit-animation: fadeInUp 300ms linear 2500ms both;
  animation: fadeInUp 300ms linear 2500ms both;
}
.animation.animated-item-9 {
  -webkit-animation: fadeInUp 300ms linear 2750ms both;
  animation: fadeInUp 300ms linear 2750ms both;
}
.animation.animated-item-10 {
  -webkit-animation: fadeInUp 300ms linear 3000ms both;
  animation: fadeInUp 300ms linear 3000ms both;
}
