// basic
//- SUPPORTS ALL LANGUAGES
meta(charset='utf-8')

//- Website Description
meta(name="description" content=" Website Description ")

//- copyright for website
meta(name="copyright" content=" Company Name")

//- Search engines for what you want, you can specify the pages you want to do the indexing
meta(name="robots" content="index, follow")

//- website last update
meta(name="revised" content="Tuesday, July 20th, 2021, 10:15 am")

//- to process IE versions
meta(http-equiv="X-UA-Compatible" content="ie=edge")
meta(http-equiv="X-UA-Compatible" content="IE=7")

//- set the viewport width and initial-scale on mobile devices
meta(name="viewport",
    content="width=device-width, initial-scale=1, shrink-to-fit=no")

//- Information Tf The Website
meta(name="keywords" content="Information of the Website")

//- This Website Building By Author Hossam Rashad
meta(name="author" content="Hossam Rashad")

//- refresh the page after time and go to anther page if you want
//- meta(http-equiv="refresh" content="10; url=https://atom.io/packages/language-pug")
//- meta(http-equiv="refresh" content="300")

//- Favicon
// Favicon
link(rel="shortcut icon" href="images/logo.png" type="image/x-icon")
link(rel="apple-touch-icon" href="images/index.html" type="image/x-icon")
link(rel="apple-touch-icon" sizes="152x152" href="images/index.html" type="image/x-icon")
link(rel="apple-touch-icon" sizes="180x180" href="images/index.html" type="image/x-icon")
link(rel="apple-touch-icon" sizes="167x167" href="images/index.html" type="image/x-icon")
link(rel="apple-touch-icon-precomposed" sizes="144x144" href="images/index.html" type="image/x-icon")
link(rel="apple-touch-icon-precomposed" sizes="114x114" href="images/index.html" type="image/x-icon")
link(rel="apple-touch-icon-precomposed" sizes="72x72" href="images/index.html" type="image/x-icon")
link(rel="apple-touch-icon-precomposed" href="images/index.html" type="image/x-icon")

//- Animate
// Animate
//- link(rel="stylesheet" href="https://hossamrashad.github.io/libraries/css/animate/v-3.7.1/animate.min.css")
link(rel="stylesheet" href="css/libs/animate/v-3.7.1/animate.min.css")

//- font-awesome 5.15.3
// font-awesome 5.15.3
//- link(rel="stylesheet" href="https://hossamrashad.github.io/libraries/css/font-awesome/css/all.min.css")
link(rel="stylesheet" href="css/libs/font-awesome/css/all.min.css")


//- Hover Hor Button
// Hover Hor Button
//- link(rel="stylesheet" href="https://hossamrashad.github.io/libraries/css/hover/hover.css")
//- link(rel="stylesheet" href="css/libs/hover/hover.css")

//- Magnific
// Magnific
//- link(rel="stylesheet" href="https://hossamrashad.github.io/libraries/css/magnific/magnific-popup.css")
link(rel="stylesheet" href="css/libs/magnific/magnific-popup.css")

//- Nivo Slider
// Nivo Slider
//- link(rel="stylesheet" href="https://hossamrashad.github.io/libraries/css/nivo-slider/nivo-slider.css")
link(rel="stylesheet" href="css/libs/nivo-slider/nivo-slider.css")

//- Owl
// Start Owl
//- link(rel="stylesheet" href="https://hossamrashad.github.io/libraries/css/owl/owl.theme.default.min.css")
//- link(rel="stylesheet" href="https://hossamrashad.github.io/libraries/css/owl/owl.carousel.min.css")
link(rel="stylesheet" href="css/libs/owl/owl.theme.default.min.css")
link(rel="stylesheet" href="css/libs/owl/owl.carousel.min.css")

//- Show-And-Hide-box
//- Show-And-Hide-box
//- link(rel="stylesheet" href="https://hossamrashad.github.io/libraries/css/Show-And-Hide-box/jquery.expandable.css")
//- link(rel="stylesheet" href="css/libs/Show-And-Hide-box/jquery.expandable.css")

//- Jquery Ui
//- link(rel="stylesheet" href="css/libs/jquerUi/jquery-ui.css")


|
|
<!--[if lt IE 9]>
    <script src="https://hossamrashad.github.io/libraries/js/html5shiv/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://hossamrashad.github.io/libraries/js/respond/respond.js"></script>
    <script src="https://hossamrashad.github.io/libraries/js/respond/respond.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

//- Modernizr
// Modernizr
//- script(src="https://hossamrashad.github.io/libraries/js/modernizr/modernizr-custom.min.js")
//- script(src="css/libs/modernizr/modernizr-custom.min.js")