//- how to usd +skillList
mixin skillList
  ul(class="list-unstyled")
    li html 
      ul 
        li pugjs 
    li css 
      ul 
        li scss 
    li javascript 
      ul 
        li jquery 
        li dom 
        li bom 
        li vuejs 
    li bootstrap 
    li this is #{bold}
    li this is !{bold}


mixin price(globalPrice)
  div(class="price-pug")= globalPrice
  