// width

$min-width100: 100%;
$min-height100: 100%;
$min-height100Vh: 100vh;

// direction

$dir-ltr: ltr;
$dir-rtl: rtl;

// text align

$text-align-center: center;
$text-align-right: right;
$text-align-left: left;

// float

$float-left: left;
$float-right: right;

// margin & padding

$main-margin: 100px;
$main-padding: 100px;
$main-padding-text: 30px;


// position

$left: 0;
$right: 0;


