include variables/variables.pug
include mixin/mixin.pug
doctype 
//- html(lang="ar" dir="rtl" data-theme="light") 
html(lang="en" data-theme="light")
    //- html(lang='ar' dir="rtl") 

    head 
        //- start head  
        include head/head.pug

        block pageTitle
            title Blog

        block Bootstrap
            //- Bootstrap 5.0.1 en
            // Bootstrap 5.0.1 en
            //- link(rel="stylesheet" href="https://hossamrashad.github.io/libraries/css/bootstrap/bootstrap.min.css")
            link(rel="stylesheet" href="css/libs/bootstrap/bootstrap.min.css")       

        //- global framework
        block Framework
            link(rel="stylesheet" href="css/style.css")
            link(rel="stylesheet" href="css/blog.css")
    //- end head

    body 
        //- start body
        include header/header.pug

        main(class="page-blog") 
            div(class="header-wrapper")
                div(class="container")
                    div(class="row")
                        div(class="col-md-8")
                            div(class="slider-blog")
                                h2(class="h1") Our blog
                                h3(class="h5") 
                                    span All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true
                            div(class="hr")
                            div(class="row")
                                div(class="col-md-4 col-sm-6")
                                    div(class="grid-item")
                                        ul(class="grid-title") 
                                            li 
                                                a(href="#") 26 may 2019
                                            li -
                                            li 
                                                a(href="#") Interviews 
                                        div(class="blog-media")
                                            a(href="#") 
                                                img(src="images/folio/thumbs/1.jpg" alt="")
                                        div(class="blog-text")
                                            h3(class="") Aliquip pertinax vix 
                                            p  Vestibulum orci felis, ullamcorper non condimentum non, ultrices ac nunc. Mauris non ligula suscipit, vulputate mi accumsan, dapibus felis. Nullam sed sapien dui. Nulla auctor sit amet sem non porta. Integer iaculis tellus nulla, quis imperdiet magna venenatis vitae.. 
                                            a(href="#" class="link-font") 
                                                span read more 
                                                i(class="fas fa-long-arrow-alt-right")
                                div(class="col-md-4 col-sm-6")
                                    div(class="grid-item")
                                        ul(class="grid-title") 
                                            li 
                                                a(href="#") 26 may 2020
                                            li -
                                            li 
                                                a(href="#") Architecture  
                                        div(class="blog-media")
                                            a(href="#") 
                                                img(src="images/folio/thumbs/2.jpg" alt="")
                                        div(class="blog-text")
                                            h3(class="") Te nihil aliquip
                                            p  Vestibulum orci felis, ullamcorper non condimentum non, ultrices ac nunc. Mauris non ligula suscipit, vulputate mi accumsan, dapibus felis. Nullam sed sapien dui. Nulla auctor sit amet sem non porta. Integer iaculis tellus nulla, quis imperdiet magna venenatis vitae.. 
                                            //- a(href="#" class="link-font") 
                                            //-     span read more 
                                            //-     i(class="fas fa-long-arrow-alt-right")
                                div(class="col-md-4 col-sm-6")
                                    div(class="grid-item")
                                        ul(class="grid-title") 
                                            li 
                                                a(href="#") 28 may 2019
                                            li -
                                            li 
                                                a(href="#") Awards 
                                        div(class="blog-media")
                                            a(href="#") 
                                                img(src="images/folio/thumbs/3.jpg" alt="")
                                        div(class="blog-text")
                                            h3(class="") Delenit interesset
                                            p  Vestibulum orci felis, ullamcorper non condimentum non, ultrices ac nunc. Mauris non ligula suscipit, vulputate mi accumsan, dapibus felis. Nullam sed sapien dui. Nulla auctor sit amet sem non porta. Integer iaculis tellus nulla, quis imperdiet magna venenatis vitae.. 
                                            //- a(href="#" class="link-font") 
                                            //-     span read more 
                                            //-     i(class="fas fa-long-arrow-alt-right")
                                div(class="col-md-4 col-sm-6")
                                    div(class="grid-item")
                                        ul(class="grid-title") 
                                            li 
                                                a(href="#") 29 may 2017
                                            li -
                                            li 
                                                a(href="#") Architecture 
                                        div(class="blog-media")
                                            a(href="#") 
                                                img(src="images/folio/thumbs/4.jpg" alt="")
                                        div(class="blog-text")
                                            h3(class="") Ius ignota offendit
                                            p  Vestibulum orci felis, ullamcorper non condimentum non, ultrices ac nunc. Mauris non ligula suscipit, vulputate mi accumsan, dapibus felis. Nullam sed sapien dui. Nulla auctor sit amet sem non porta. Integer iaculis tellus nulla, quis imperdiet magna venenatis vitae.. 
                                            //- a(href="#" class="link-font") 
                                            //-     span read more 
                                            //-     i(class="fas fa-long-arrow-alt-right")
                                div(class="col-md-4 col-sm-6")
                                    div(class="grid-item")
                                        ul(class="grid-title") 
                                            li 
                                                a(href="#") 26 may 2016
                                            li -
                                            li 
                                                a(href="#") Interviews 
                                        div(class="blog-media")
                                            a(href="#") 
                                                img(src="images/folio/thumbs/1.jpg" alt="")
                                        div(class="blog-text")
                                            h3(class="") No duo dico 
                                            p  Vestibulum orci felis, ullamcorper non condimentum non, ultrices ac nunc. Mauris non ligula suscipit, vulputate mi accumsan, dapibus felis. Nullam sed sapien dui. Nulla auctor sit amet sem non porta. Integer iaculis tellus nulla, quis imperdiet magna venenatis vitae.. 
                                            //- a(href="#" class="link-font") 
                                            //-     span read more 
                                            //-     i(class="fas fa-long-arrow-alt-right")
                                div(class="col-md-4 col-sm-6")
                                    div(class="grid-item")
                                        ul(class="grid-title") 
                                            li 
                                                a(href="#") 26 may 2019
                                            li -
                                            li 
                                                a(href="#") Architecture 
                                        div(class="blog-media")
                                            a(href="#") 
                                                iframe(src="http://player.vimeo.com/video/24506451?color=000000&title=0&badge=0", frameborder="0",  webkitallowfullscreen="", mozallowfullscreen="", allowfullscreen="", __idm_id__="66696193") 
                                        div(class="blog-text")
                                            h3(class="") Sea dolorum vituperata
                                            p  Vestibulum orci felis, ullamcorper non condimentum non, ultrices ac nunc. Mauris non ligula suscipit, vulputate mi accumsan, dapibus felis. Nullam sed sapien dui. Nulla auctor sit amet sem non porta. Integer iaculis tellus nulla,    venenatis vitae.. 
                                            //- a(href="#" class="link-font") 
                                            //-     span read more 
                                            //-     i(class="fas fa-long-arrow-alt-right")
                                div(class="col-md-4 col-sm-6")
                                    div(class="grid-item")
                                        ul(class="grid-title") 
                                            li 
                                                a(href="#") 26 may 2019
                                            li -
                                            li 
                                                a(href="#") Architecture 
                                        div(class="blog-media")
                                            a(href="#") 
                                                img(src="images/folio/thumbs/10.jpg" alt="")
                                        div(class="blog-text")
                                            h3(class="") Nulla auctor
                                            p  Vestibulum orci felis, ullamcorper non condimentum non, ultrices ac nunc. Mauris non ligula suscipit, vulputate mi accumsan, dapibus felis. Nullam sed sapien dui. Nulla auctor sit amet sem non porta. Integer iaculis tellus nulla, quis imperdiet magna venenatis vitae.. 
                                            //- a(href="#" class="link-font") 
                                            //-     span read more 
                                            //-     i(class="fas fa-long-arrow-alt-right")
                                div(class="col-md-4 col-sm-6")
                                    div(class="grid-item")
                                        ul(class="grid-title") 
                                            li 
                                                a(href="#") 26 may 2019
                                            li -
                                            li 
                                                a(href="#") Interviews 
                                        div(class="blog-media")
                                            a(href="#") 
                                                img(src="images/folio/thumbs/9.jpg" alt="")
                                        div(class="blog-text")
                                            h3(class="") Venenatis vitae
                                            p  Vestibulum orci felis, ullamcorper non condimentum non, ultrices ac nunc. Mauris non ligula suscipit, vulputate mi accumsan, dapibus felis. Nullam sed sapien dui. Nulla auctor sit amet sem non porta. Integer iaculis tellus nulla, quis imperdiet magna venenatis vitae.. 
                                            //- a(href="#" class="link-font") 
                                            //-     span read more 
                                            //-     i(class="fas fa-long-arrow-alt-right")
                            div(class="hr")
                            h2(class="h1 link-old-post")
                                a(class="link-font" href="#")
                                    span() Old posts 
                                    i(class="fas fa-long-arrow-alt-right")
                    //- End Row







        //- +btnTow('read')
        include footer/footer.pug




        //- Start Global
        include global/global.pug
        //- End Global









        include script/script.pug
        //- Jquery Tools
        script(src="js/libs/countTo/jquery.countTo.js")
        script(src="js/libs/plugin-work/plugin-work.js")
        script(src="js/JQueryTools/JQueryTools.js")
        script(src="http://localhost:35729/livereload.js")

        //- end body
