include variables/variables.pug
include mixin/mixin.pug
doctype 
html(lang="ar" dir="rtl" data-theme="light") 
    html(lang="en" data-theme="light")
    //- html(lang='ar' dir="rtl") 

    head 
        //- start head  
        include head/head.pug

        block pageTitle
            title فئة

        block Bootstrap
            //- Bootstrap 5.0.1 ar
            // Bootstrap 5.0.1 ar
            //- link(rel="stylesheet" href="https://hossamrashad.github.io/libraries/css/bootstrap/bootstrap.rtl.min.css")
            link(rel="stylesheet" href="css/libs/bootstrap/bootstrap.rtl.min.css")

        //- global framework
        block Framework
            link(rel="stylesheet" href="css/style.css")
            link(rel="stylesheet" href="css/category-ar.css")
    //- end head

    body 
        //- start body
        include header/header-ar.pug

        main(class="page-category") 
            div(class="header-wrapper")
                div(class="container")
                    div(class="row")
                        div(class="col-md-8")
                            div(class="slider-blog")
                                h2(class="h1") فئة : 
                                    br
                                    | خراطيم التصميم
                                h3(class="h5") 
                                    span تميل جميع مولدات Lorem Ipsum على الإنترنت إلى تكرار قطع محددة مسبقا حسب الضرورة، مما يجعل هذا هو الأول الحقيقي
                            div(class="hr")
                        div(class="col-md-4 d-sm-none d-md-block")
                    div(class="col-md-8 col-sm-12")
                        div(class="row")
                            div(class="col-md-4 col-sm-6")
                                div(class="child")
                                    div(class="img")
                                        a(href="portfolio.html") 
                                            img(src="images/folio/thumbs/1.jpg" alt="")
                                    div(class="text")
                                        a(href="portfolio.html") سياسات Saladidae SEM
                                        span خراطيم التصميم
                            div(class="col-md-4 col-sm-6")
                                div(class="child")
                                    div(class="img")
                                        a(href="portfolio.html") 
                                            img(src="images/folio/thumbs/1.jpg" alt="")
                                    div(class="text")
                                        a(href="portfolio.html") سياسات Saladidae SEM
                                        span خراطيم التصميم
                            div(class="col-md-4 col-sm-6")
                                div(class="child")
                                    div(class="img")
                                        a(href="portfolio.html") 
                                            img(src="images/folio/thumbs/1.jpg" alt="")
                                    div(class="text")
                                        a(href="portfolio.html") سياسات Saladidae SEM
                                        span خراطيم التصميم
                            div(class="col-md-8 col-sm-12")
                                div(class="child")
                                    div(class="img")
                                        a(href="portfolio.html") 
                                            img(src="images/folio/thumbs/1.jpg" alt="")
                                    div(class="text")
                                        a(href="portfolio.html") سياسات Saladidae SEM
                                        span خراطيم التصميم
                            div(class="col-md-4 col-sm-6")
                                div(class="child")
                                    div(class="img")
                                        a(href="portfolio.html") 
                                            img(src="images/folio/thumbs/1.jpg" alt="")
                                    div(class="text")
                                        a(href="portfolio.html") سياسات Saladidae SEM
                                        span خراطيم التصميم
                            div(class="col-md-4 col-sm-6")
                                div(class="child")
                                    div(class="img")
                                        a(href="portfolio.html") 
                                            img(src="images/folio/thumbs/1.jpg" alt="")
                                    div(class="text")
                                        a(href="portfolio.html") سياسات Saladidae SEM
                                        span خراطيم التصميم
                            div(class="col-md-4 col-sm-6")
                                div(class="child")
                                    div(class="img")
                                        a(href="portfolio.html") 
                                            img(src="images/folio/thumbs/1.jpg" alt="")
                                    div(class="text")
                                        a(href="portfolio.html") سياسات Saladidae SEM
                                        span خراطيم التصميم
                            div(class="col-md-4 col-sm-6")
                                div(class="child")
                                    div(class="img")
                                        a(href="portfolio.html") 
                                            img(src="images/folio/thumbs/1.jpg" alt="")
                                    div(class="text")
                                        a(href="portfolio.html") سياسات Saladidae SEM
                                        span خراطيم التصميم










                        div(class="hr")
                        div(class="content-nav")
                            div(class="left")
                                a(href="category.html") 
                                    i(class="fas fa-long-arrow-alt-right")
                                a(href="#") /
                                a(href="")
                                    i(class="fas fa-long-arrow-alt-left") 
                            div(class="right")
                                a(href="portfolio.html") 
                                    i(class="fa fa-th-large")
                    //- End Row









        //- +btnTow('read')
        include footer/footer.pug




        //- Start Global
        include global/global-ar.pug
        //- End Global









        include script/script.pug
        //- Jquery Tools
        script(src="js/libs/countTo/jquery.countTo.js")
        script(src="js/libs/plugin-work/plugin-work.js")
        script(src="js/JQueryTools/JQueryTools.js")
        script(src="http://localhost:35729/livereload.js")

        //- end body
