include variables/variables.pug
include mixin/mixin.pug
doctype 
//- html(lang="ar" dir="rtl" data-theme="light") 
html(lang="en" data-theme="light")
    //- html(lang='ar' dir="rtl") 

    head 
        //- start head  
        include head/head.pug

        block pageTitle
            title Commercial Door


        block Bootstrap
            //- Bootstrap 5.0.1 en
            // Bootstrap 5.0.1 en
            //- link(rel="stylesheet" href="https://hossamrashad.github.io/libraries/css/bootstrap/bootstrap.min.css")
            link(rel="stylesheet" href="css/libs/bootstrap/bootstrap.min.css")       

        //- global framework
        block Framework
            link(rel="stylesheet" href="css/style.css")
    //- end head

    body 
        //- start body
        include header/header.pug

        div(class='container')
            //- slide Doors System
            //- div(id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel")
            //-     div(class="carousel-inner")
            //-         div( class="carousel-item active")
            //-             img(src="http://placehold.it/1920x1080/333" class="d-block w-100" alt="alt")
            //-             div(class='carousel-caption d-none d-md-block')
            //-                 h5(class='display-5') Rolling Shutters
            //-                 p(class='lead') "ThermoTeck" - Insulated, with micro profiled surface.
            //-         div(class="carousel-item")
            //-             img(src="http://placehold.it/1920x1080/333" class="d-block w-100" alt="alt")
            //-             div(class='carousel-caption d-none d-md-block')
            //-                 h5(class='display-5') Sectional Doors
            //-                 p(class='lead') The ultimate solution for any business involved with production .
            //-         div(class="carousel-item")
            //-             img(src="http://placehold.it/1920x1080/333" class="d-block w-100" alt="alt")
            //-             div(class='carousel-caption d-none d-md-block')
            //-                 h5(class='display-5')  SMART RESET - Rapid roll-up door with self-repairing full curtain
            //-                 p(class='lead') High performance and self-repairing Heavy duty automatic flexible door featuring a special and innovative self-repairing system; should the curtain accidentally get dislodged, it will automatically be recovered with a simple opening and closing operation.
            //-         div(class="carousel-item")
            //-             img(src="http://placehold.it/1920x1080/333" class="d-block w-100" alt="alt")
            //-             div(class='carousel-caption d-none d-md-block')
            //-                 h5(class='display-5')  Hospital Doors
            //-                 p(class='lead') Automation for doors with seals, where the wing provides for partial seal (on 2 sides), with a specially designed guard.
            //-         div(class="carousel-item")
            //-             img(src="http://placehold.it/1920x1080/333" class="d-block w-100" alt="alt")
            //-             div(class='carousel-caption d-none d-md-block')
            //-                 h5(class='display-5')  Car Barriers
            //-                 p(class='lead') Truly innovative shapes and uncompromising safety: these are the credentials of the new  Qik barrier.
            //-         div(class="carousel-item")
            //-             img(src="http://placehold.it/1920x1080/333" class="d-block w-100" alt="alt")
            //-             div(class='carousel-caption d-none d-md-block')
            //-                 h5(class='display-5') Overhead garage doors
            //-                 p(class='lead') The modern solution for garage doors.
            //-     button(class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev") 
            //-         span(class="carousel-control-prev-icon" aria-hidden="true") 
            //-         span( class="visually-hidden") Previous 
            //-     button(class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next")
            //-         span(class="carousel-control-next-icon" aria-hidden="true") 
            //-         span(class="visually-hidden") next
            //-     div(class="carousel-indicators")
            //-         button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1")
            //-         button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2")
            //-         button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3")   
            //-         button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4")  
            //-         button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5")  
            //-         button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6")  

        div(class='container')
            //- div(class='back-item-single-come-from' id='backVideo'
            //- data-vide-bg="video/rolling-shutters/1.mp4")

            div(class='back-item-single-come-from' id='backVideo'
            data-vide-bg="https://hossamrashad.github.io/images-in-github/video/commercial-door/1.mp4")

                nav( aria-label="breadcrumb")
                    ol( class="breadcrumb")
                        li(class="breadcrumb-item")
                            a(href="index.html") Home 
                        li(class="breadcrumb-item")
                            a(href="doors-system.html") Roll  Up Doors
                        li(class="breadcrumb-item")
                            a(href="rollupdoors-category.html") Roll Category
                        li(class="breadcrumb-item active" aria-current="page") Commercial Door



        div(class='container')
            div(class='wrapper-item-single ')
                div(class='row')
                    div(class='col-md-12 mb-5')
                        h4 Commercial Door
                        p(class='lead') African Trade and Contracting High Performance Commercial Focuses high quality materials and standard safety features guarantee a smooth flow of traffic durability and long life throw using best quality in the market.
                        p(class='lead') Specification: 
                        ul 
                            li • Slats 0.7 - 1 mm formed in different shapes according to customer needs. 
                            li • Span 1.0 m - 8.0 wide.
                            li • Door Guide cold formed box section 2 mm thick equipped with Rubber gasket.
                            li • Door axes consist of 60 mm pipe number of spring according to the door size.
                            li • Our design confirm CE considering wind load 
                            li • Doors are operated electrically with central motors or side motors according to customer needs.
                    div(class='col-sm-12 disc-img-single-item')
                        div(class='grid-md-6')
                            div(class='item-img')
                                img(src="images/doors-system/roll-uup-doors/commercial-door/commercial-door-top.jpg" alt="" class='img-thumbnail')

                            div(class='item-img')
                                img(src="images/doors-system/roll-uup-doors/commercial-door/commercial-door-one.jpg" alt="" class='img-thumbnail')


                            div(class='item-img')
                                img(src="images/doors-system/roll-uup-doors/commercial-door/commercial-door-tow.jpg" alt="" class='img-thumbnail')


                            div(class='item-img')
                                img(src="images/doors-system/roll-uup-doors/commercial-door/commercial-door-three.jpg" alt="" class='img-thumbnail')


                            div(class='item-img')
                                img(src="images/doors-system/roll-uup-doors/commercial-door/commercial-door-four.jpg" alt="" class='img-thumbnail')


                            div(class='item-img')
                                img(src="images/doors-system/roll-uup-doors/commercial-door/commercial-door-five.jpg" alt="" class='img-thumbnail')






        include footer/footer.pug
        include global/global.pug











        include script/script.pug
        // Back Video
        script(src="js/libs/back-video/jquery.vide.js")


        //- Jquery Tools
        // Jquery Tools
        script(src="js/libs/plugin-work/plugin-work.js")
        script(src="http://localhost:35729/livereload.js")

        //- end body
