include variables/variables.pug
include mixin/mixin.pug
doctype 
//- html(lang="ar" dir="rtl" data-theme="light") 
html(lang="en" data-theme="light")
    //- html(lang='ar' dir="rtl") 

    head 
        //- start head  
        include head/head.pug

        block pageTitle
            title Doors System

        block Bootstrap
            //- Bootstrap 5.0.1 en
            // Bootstrap 5.0.1 en
            //- link(rel="stylesheet" href="https://hossamrashad.github.io/libraries/css/bootstrap/bootstrap.min.css")
            link(rel="stylesheet" href="css/libs/bootstrap/bootstrap.min.css")       

        //- global framework
        block Framework
            link(rel="stylesheet" href="css/style.css")
    //- end head

    body 
        //- start body
        include header/header.pug

        div(class='container')
            //- slide Doors System
            div(id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel")
                div(class="carousel-inner")
                    div( class="carousel-item active")
                        img(src="https://hossamrashad.github.io/images-in-github/images/placehold/1920x1080.png" class="d-block w-100" alt="alt")
                        div(class='carousel-caption d-none d-md-block')
                            h5(class='display-5') Rolling Shutters
                            p(class='lead') "ThermoTeck" - Insulated, with micro profiled surface.
                    div(class="carousel-item")
                        img(src="https://hossamrashad.github.io/images-in-github/images/placehold/1920x1080.png" class="d-block w-100" alt="alt")
                        div(class='carousel-caption d-none d-md-block')
                            h5(class='display-5') Sectional Doors
                            p(class='lead') The ultimate solution for any business involved with production .
                    div(class="carousel-item")
                        img(src="https://hossamrashad.github.io/images-in-github/images/placehold/1920x1080.png" class="d-block w-100" alt="alt")
                        div(class='carousel-caption d-none d-md-block')
                            h5(class='display-5')  SMART RESET - Rapid roll-up door with self-repairing full curtain
                            p(class='lead') High performance and self-repairing Heavy duty automatic flexible door featuring a special and innovative self-repairing system; should the curtain accidentally get dislodged, it will automatically be recovered with a simple opening and closing operation.
                    div(class="carousel-item")
                        img(src="https://hossamrashad.github.io/images-in-github/images/placehold/1920x1080.png" class="d-block w-100" alt="alt")
                        div(class='carousel-caption d-none d-md-block')
                            h5(class='display-5')  Hospital Doors
                            p(class='lead') Automation for doors with seals, where the wing provides for partial seal (on 2 sides), with a specially designed guard.
                    div(class="carousel-item")
                        img(src="https://hossamrashad.github.io/images-in-github/images/placehold/1920x1080.png" class="d-block w-100" alt="alt")
                        div(class='carousel-caption d-none d-md-block')
                            h5(class='display-5')  Car Barriers
                            p(class='lead') Truly innovative shapes and uncompromising safety: these are the credentials of the new  Qik barrier.
                    div(class="carousel-item")
                        img(src="https://hossamrashad.github.io/images-in-github/images/placehold/1920x1080.png" class="d-block w-100" alt="alt")
                        div(class='carousel-caption d-none d-md-block')
                            h5(class='display-5') Overhead garage doors
                            p(class='lead') The modern solution for garage doors.
                button(class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev") 
                    span(class="carousel-control-prev-icon" aria-hidden="true") 
                    span( class="visually-hidden") Previous 
                button(class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next")
                    span(class="carousel-control-next-icon" aria-hidden="true") 
                    span(class="visually-hidden") next
                div(class="carousel-indicators")
                    button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1")
                    button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2")
                    button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3")   
                    button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4")  
                    button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5")  
                    button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6")  

            div(class='wrapper-doors-system-category')
                div(class='grid-md-4 grid-sm-1 gap-5')
                    div(class='item-doors-system-category')
                        a(href="rollupdoors-category.html") 
                            h3(class='text-uppercase') roll up doors
                            img(src="images/doors-system/roll-uup-doors/rolling-shutters/rolling-shutters-top.jpg" alt="" class='img-fluid img-thumbnail')
                            h4 Rolling Shutters
                            h5(class='text-capitalize') "ThermoTeck" - Insulated, with micro...
                    div(class='item-doors-system-category')
                        a(href="sectional-category.html") 
                            h3(class='text-uppercase') Sectional Doors
                            img(src="images/doors-system/sectional-doors/sectional-doors/sectional-doors-top.jpg" alt="" class='img-fluid img-thumbnail')
                            h4 Sectional Doors 
                            h5(class='text-capitalize') The ultimate solution for any business...
                    div(class='item-doors-system-category')
                        a(href="speed-category.html") 
                            h3(class='text-uppercase') Speed Doors
                            img(src="images/doors-system/speed-doors/self-repairing/self-repairing-top.jpg" alt="" class='img-fluid img-thumbnail')
                            h4 SMART RESET - Rapid roll-up door with self-repairing full curtain
                            h5(class='text-capitalize') High performance and self-repairing Heavy duty...
                    div(class='item-doors-system-category')
                        a(href="hospital-category.html") 
                            h3(class='text-uppercase') Hospital Doors
                            img(src="images/doors-system/hospital-doors/hospital-doors-top.jpg" alt="" class='img-fluid img-thumbnail')
                            h4 Hospital Doors
                            h5(class='text-capitalize') Valor is especially suitable for...
                    div(class='item-doors-system-category')
                        a(href="gatesAuto-category.html") 
                            h3(class='text-uppercase') Gates Auto machine
                            img(src="images/doors-system/carbarriers/car-barriers/car-barriers-top.jpg")
                            h4 Car Barriers
                            h5(class='text-capitalize') Truly innovative shapes and uncompromising...
                    div(class='item-doors-system-category')
                        a(href="garage-category.html") 
                            h3(class='text-uppercase') Garage Doors
                            img(src="images/doors-system/overhead-garage-doors/overhead-garage-doors-top.jpg" alt="" class='img-fluid img-thumbnail')
                            h4 Overhead garage doors
                            h5(class='text-capitalize') The modern solution for garage doors....








        include footer/footer.pug
        include global/global.pug











        include script/script.pug

        //- Jquery Tools
        script(src="js/libs/plugin-work/plugin-work.js")
        script(src="http://localhost:35729/livereload.js")

        //- end body
