include variables/variables.pug
include mixin/mixin.pug
doctype 
//- html(lang="ar" dir="rtl" data-theme="light") 
html(lang="en" data-theme="light")
    //- html(lang='ar' dir="rtl") 

    head 
        //- start head  
        include head/head.pug

        block pageTitle
            title Speed Counterweighted Model

        block Bootstrap
            //- Bootstrap 5.0.1 en
            // Bootstrap 5.0.1 en
            //- link(rel="stylesheet" href="https://hossamrashad.github.io/libraries/css/bootstrap/bootstrap.min.css")
            link(rel="stylesheet" href="css/libs/bootstrap/bootstrap.min.css")       

        //- global framework
        block Framework
            link(rel="stylesheet" href="css/style.css")
    //- end head

    body 
        //- start body
        include header/header.pug



        div(class='container')


            div(class='back-item-single-come-from' id='backVideo'
            data-vide-bg="https://hossamrashad.github.io/images-in-github/video/speed-Counterweights/1.mp4")

                nav( aria-label="breadcrumb")
                    ol( class="breadcrumb")
                        li(class="breadcrumb-item")
                            a(href="index.html") Home 
                        li(class="breadcrumb-item")
                            a(href="doors-system.html") Roll  Up Doors
                        li(class="breadcrumb-item")
                            a(href="hospital-category.html") Hospital Category
                        li(class="breadcrumb-item active" aria-current="page") Speed Counterweighted Model


        div(class='container')
            div(class='wrapper-item-single ')
                div(class='row')
                    div(class='col-md-12 mb-5')

                        div(class='grid-md-2')
                            div(class='mb-5')

                                h4 Hospital Doors

                                ul(class='dot-before') 

                                    li Valor is especially suitable for:
                                        ul(class='dot-before') 

                                            li Hospital / healthcare environments

                                            li Controlled atmosphere environments (hospitals, clinics, rehabilitation centres, care homes, disabled centres, rest homes, multi-purpose surgeries, doctors’ surgeries, dentists' surgeries,

                                            li operating theatres

                                            li radiology rooms

                                            li  clean rooms

                                    li pharmaceutical industry

                                    li electronics laboratories

                                    li recording rooms and sound-insulated environments

                                    li analysis laboratories (pharmaceutical and/or chemical sector)

                                    li pplications on ships

                                    li applications with heavy wings
                            div(class='mb-5')
                                h4 Valor H
                                p(class='lead') Automation for doors with seals, where the wing provides for partial seal (on 2 sides), with a specially designed guard.

                                h4 Valor HS
                                p(class='lead') This automation is similar to the previous one, but with greater carrying capacity.


                                h4 Valor HH
                                p(class='lead') This automation is hermetically sealed on all four sides, and the wing – on closing – drops and slides to compress the seal against the jamb along the perimeter.


                        h4 Valor automations feature significant new characteristics
                        ul(class='dot-before') 

                            li Super silent operation .

                            li Maximum hygiene .

                            li Maximum safety .

                            li Maximum capacity .

                            li Maximum availability of finishes .

                        h4 Pam H60

                        p(class='lead') HPL laminate and AISI 304 stainless steel laminate panels

                        p(class='lead') Wing for sliding door consisting of rounded extruded aluminium frame and panel. Wing thickness 60 mm with non-toxic silicon perimeter seals. The external profile is perfectly flush fitting and sealed with non-toxic silicon.

                        p(class='lead') The internal panel consists of a sandwich of two HPL laminate plates, plus two 5 mm thick MDF class 1 fireproof panels and an extruded high-density self-extinguishing polyester sheet.

                        p(class='lead') The panel can be surfaced with melamine laminate or AISI 304 stainless steel laminate in Scotch Brite finish.




                        h4 Pam H60

                        p(class='lead') Wing for sliding door made entirely of press-formed AISI 304 satin stainless steel in Scotch Brite finish, 60 mm thick, featuring a very wide radius and non-toxic silicon perimeter seals.

                        p(class='lead') The interior of the wing is reinforced with polyurethane foam.

                        p(class='lead') The frame is made of AISI 304 satin stainless steel in Scotch Brite finish to cover the ridge of the sliding doors.

                        p(class='lead') The frame has a U-section, which also features a very wide radius, and is made in three pieces.




                        h4 Pam H60

                        p(class='lead') Framed wing with double glazing

                        p(class='lead') Wing for sliding door consisting of rounded extruded aluminium frame and double glazing. Wing thickness 60 mm with non-toxic silicon perimeter seals.

                        p(class='lead') The wing profile is equipped with a purpose-designed adapter which allows for the glazing to be fitted and clicked and secured in place with purpose-provided glazing beads.

                        p(class='lead') The dimensions envisaged are accomplished using two plates of 3+3 transparent laminated accident-proof glass 3+3 with an intermediate chamber of 20 mm.

                        p(class='lead') dedicated frames ensure the entire system is sturdy and reliable.

                        p(class='lead') The rounded profiles (in both aluminium and stainless steel), the panels and the inset windows flush with the exterior without any ledges prevent the build-up of dirt and make for easy cleaning and improved hygiene.

                        p(class='lead') The frames are equipped with silicon seals (non-toxic).

                        p(class='lead') These seals (where envisaged) are inset into the wing without any additional profiles. This enhances the attractive styling while providing more efficient cleanliness and hygiene.

                        p(class='lead') The floor runner was also designed to cover the fixing screws and not only to improve the appearance but also to ensure easier cleaning.

                        p(class='lead') Indeed, it prevents the build-up of dirt on the screws and is easier to clean.


                        h4 Accessories


                        ul(class='dot-before') 

                            li Flush-fit 600 x 400 mm rectangular window

                            li Flush-fit ø 400 mm circular window

                            li 1, 2 or 3 mm thick lead screening

                            li Rising pull handle

                        p(class='lead') For further details: please refer to the DITEC price list.











                    div(class='col-md-12 disc-img-single-item')
                        div(class='grid-sm-2')
                            div(class='item-img')
                                img(src="images/doors-system/speed-doors/counterweighted-model/counterweighted-model-top.jpg" alt="" class='img-thumbnail')

                            div(class='item-img')
                                img(src="images/doors-system/speed-doors/counterweighted-model/counterweighted-model-bottom.jpg" alt="" class='img-thumbnail')



        include footer/footer.pug
        include global/global.pug

        include script/script.pug
        // Back Video
        script(src="js/libs/back-video/jquery.vide.js")

        //- Jquery Tools
        // Jquery Tools
        script(src="js/libs/plugin-work/plugin-work.js")
        script(src="http://localhost:35729/livereload.js")

        //- end body
