include variables/variables.pug
include mixin/mixin.pug
doctype 
//- html(lang="ar" dir="rtl" data-theme="light") 
html(lang="en" data-theme="light")
  //- html(lang='ar' dir="rtl") 

  head 
    //- start head  
    include head/head.pug

    block pageTitle
      title Home Page En

    block Bootstrap
      //- Bootstrap 5.0.1 en
      // Bootstrap 5.0.1 en
      //- link(rel="stylesheet" href="https://hossamrashad.github.io/libraries/css/bootstrap/bootstrap.min.css")
      link(rel="stylesheet" href="css/libs/bootstrap/bootstrap.min.css")       

    //- global framework
    block Framework
      link(rel="stylesheet" href="css/style.css")
  //- end head

  body 
    //- start body
    include header/header.pug

    div(class='container-fluid')
      //- slider
      div(class='wrapper-owl-carousel')
        div(class="owl-carousel owl-theme" )
          div(class="item")
            img(src="images/home-page/system-doors/1.jpg" alt="")
            span(class='category') 
              a(href="doors-system.html") doors system
          div(class="item")
            img(src="images/home-page/loading-docks/poweramp1.jpg" alt="")
            span(class='category') 
              a(href="category.html") loading docks
          div(class="item")
            img(src="images/home-page/solar-enrgy/1.jpg" alt="")
            span(class='category') 
              a(href="category.html") solar energy 








    include global/global.pug

    include script/script.pug

    //- Jquery Tools
    script(src="js/libs/plugin-work/plugin-work.js")
    script(src="js/homePage/homePage.js") 
    script(src="http://localhost:35729/livereload.js")

    //- end body
