include variables/variables.pug
include mixin/mixin.pug
doctype 
html(lang="ar" dir="rtl" data-theme="light")  
    //- html(lang="en" data-theme="light")
    //- html(lang='ar' dir="rtl") 

    head 
        //- start head  
        include head/head.pug

        block pageTitle
            title الصفحة الرئيسية 

        block Bootstrap
            //- Bootstrap 5.0.1 ar
            // Bootstrap 5.0.1 ar
            //- link(rel="stylesheet" href="https://hossamrashad.github.io/libraries/css/bootstrap/bootstrap.rtl.min.css")
            link(rel="stylesheet" href="css/libs/bootstrap/bootstrap.rtl.min.css")       

        //- global framework
        block Framework
            link(rel="stylesheet" href="css/style.css")
            link(rel="stylesheet" href="css/homepage.css")
            link(rel="stylesheet" href="css/style-ar.css")
    //- end head

    body 
        //- start body
        include header/header-ar.pug

        div(class="owl-carousel owl-theme" )
            div(class="item")
                img(src="images/bg/1.jpeg" alt="")
            div(class="item")
                img(src="images/bg/2.jpeg" alt="")
            div(class="item")
                img(src="images/bg/3.jpeg" alt="")



        span(class="d-none" id="portfolio-list")
        span(class="countTo-1920 d-none")





        include script/script.pug


        //- Jquery Tools
        script(src="js/libs/plugin-work/plugin-work.js")
        script(src="js/JQueryTools/JQueryTools.js")
        script(src="http://localhost:35729/livereload.js")

        //- end body
