include variables/variables.pug
include mixin/mixin.pug
doctype 
//- html(lang="ar" dir="rtl" data-theme="light") 
html(lang="en" data-theme="light")
    //- html(lang='ar' dir="rtl") 

    head 
        //- start head  
        include head/head.pug

        block pageTitle
            title projects

        block Bootstrap
            //- Bootstrap 5.0.1 en
            // Bootstrap 5.0.1 en
            //- link(rel="stylesheet" href="https://hossamrashad.github.io/libraries/css/bootstrap/bootstrap.min.css")
            link(rel="stylesheet" href="css/libs/bootstrap/bootstrap.min.css")       

        //- global framework
        block Framework
            link(rel="stylesheet" href="css/style.css")
            link(rel="stylesheet" href="css/projects.css")
    //- end head

    body 
        //- start body
        include header/header.pug
        div(class="container")
            div(class="header-title-disk")
                h2(class="h1") Our featured projects
                p All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true .
            
        div(class="parent-grid-item-project" id="portfolio-list")
            div(class="grid-item-child Houses")
                div(class="grid-item")
                    div(class="img")
                        a(href="project-single.html") 
                            img(src="images/folio/thumbs/1.jpg" alt="")
                    div(class="text")
                        h4(class="h3")
                            a(href="project-single.html" target="_blank") Sodio sem lobortis
                        span Hoses Design
            div(class="grid-item-child Interior")
                div(class="grid-item")
                    div(class="img")
                        a(href="project-single.html") 
                            img(src="images/folio/thumbs/2.jpg" alt="")
                    div(class="text")
                        h4(class="h3")
                            a(href="project-single.html" target="_blank") Sodio sem lobortis
                        span Hoses Design
            div(class="grid-item-child Industrial")
                div(class="grid-item")
                    div(class="img")
                        a(href="project-single.html") 
                            img(src="images/folio/thumbs/3.jpg" alt="")
                    div(class="text")
                        h4(class="h3")
                            a(href="project-single.html" target="_blank") Sodio sem lobortis
                        span Hoses Design
            div(class="grid-item-child Houses")
                div(class="grid-item")
                    div(class="img")
                        a(href="project-single.html") 
                            img(src="images/folio/thumbs/4.jpg" alt="")
                    div(class="text")
                        h4(class="h3")
                            a(href="project-single.html" target="_blank") Sodio sem lobortis
                        span Hoses Design
            div(class="grid-item-child Industrial")
                div(class="grid-item")
                    div(class="img")
                        a(href="project-single.html") 
                            img(src="images/folio/thumbs/5.jpg" alt="")
                    div(class="text")
                        h4(class="h3")
                            a(href="project-single.html" target="_blank") Sodio sem lobortis
                        span Hoses Design
            div(class="grid-item-child Interior")
                div(class="grid-item")
                    div(class="img")
                        a(href="project-single.html") 
                            img(src="images/folio/thumbs/6.jpg" alt="")
                    div(class="text")
                        h4(class="h3")
                            a(href="project-single.html" target="_blank") Sodio sem lobortis
                        span Hoses Design
            div(class="grid-item-child Houses")
                div(class="grid-item")
                    div(class="img")
                        a(href="project-single.html") 
                            img(src="images/folio/thumbs/7.jpg" alt="")
                    div(class="text")
                        h4(class="h3")
                            a(href="project-single.html" target="_blank") Sodio sem lobortis
                        span Hoses Design
            div(class="grid-item-child Industrial")
                div(class="grid-item")
                    div(class="img")
                        a(href="project-single.html") 
                            img(src="images/folio/thumbs/21.jpg" alt="")
                    div(class="text")
                        h4(class="h3")
                            a(href="project-single.html" target="_blank") Sodio sem lobortis
                        span Hoses Design
            div(class="grid-item-child Interior")
                div(class="grid-item")
                    div(class="img")
                        a(href="project-single.html") 
                            img(src="images/folio/thumbs/11.jpg" alt="")
                    div(class="text")
                        h4(class="h3")
                            a(href="project-single.html" target="_blank") Sodio sem lobortis
                        span Hoses Design
            div(class="grid-item-child Interior")
                div(class="grid-item")
                    div(class="img")
                        a(href="project-single.html") 
                            img(src="images/folio/thumbs/12.jpg" alt="")
                    div(class="text")
                        h4(class="h3")
                            a(href="project-single.html" target="_blank") Sodio sem lobortis
                        span Hoses Design
            div(class="grid-item-child Houses")
                div(class="grid-item")
                    div(class="img")
                        a(href="project-single.html") 
                            img(src="images/folio/thumbs/13.jpg" alt="")
                    div(class="text")
                        h4(class="h3")
                            a(href="project-single.html" target="_blank") Sodio sem lobortis
                        span Hoses Design
            div(class="grid-item-child Industrial")

        div(class="filter-button-group btn-filet")
            button(class="btn" data-filter="*" type="button")  All
            button(class="btn" data-filter=".Houses" type="button")  Houses
            button(class="btn" data-filter=".Industrial" type="button")  Industrial
            button(class="btn" data-filter=".Interior" type="button")  Interior
        //- +btnTow('read')
        include footer/footer.pug




        //- Start Global
        //- include global/global.pug
        //- End Global









        include script/script.pug
        //- Jquery Tools
        script(src="js/libs/countTo/jquery.countTo.js")
        script(src="js/libs/isotope/isotope-docs.min.js")
        script(src="js/libs/plugin-work/plugin-work.js")
        script(src="js/JQueryTools/JQueryTools.js")
        script(src="http://localhost:35729/livereload.js")

        //- end body
