include variables/variables.pug
include mixin/mixin.pug
doctype 
//- html(lang="ar" dir="rtl" data-theme="light") 
html(lang="en" data-theme="light")
    //- html(lang='ar' dir="rtl") 

    head 
        //- start head  
        include head/head.pug

        block pageTitle
            title project single

        block Bootstrap
            //- Bootstrap 5.0.1 en
            // Bootstrap 5.0.1 en
            //- link(rel="stylesheet" href="https://hossamrashad.github.io/libraries/css/bootstrap/bootstrap.min.css")
            link(rel="stylesheet" href="css/libs/bootstrap/bootstrap.min.css")       

        //- global framework
        block Framework
            link(rel="stylesheet" href="css/style.css")
            link(rel="stylesheet" href="css/project-single.css")
    //- end head

    body 
        //- start body
        include header/header.pug

        main(class="page-project-single") 
            div(class="header-wrapper")
                div(class="container")
                    div(class="row")
                        div(class="col-md-8")
                            div(class="slider-blog")
                                h2(class="h1") Project Tile 
                                h3(class="h5") 
                                    span All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true
                            //- div(class="hr")
                        div(class="col-md-4 d-sm-none d-md-block")
                    div(class="col-md-8 col-sm-12 mt-5")
                        div(class="row")
                            div(class="col-md-4 col-sm-6 mb-4")
                                div(class="child")
                                    div(class="img")
                                        a(href="images/folio/thumbs/1.jpg" class="jq-magnific-gallery") 
                                            img(src="images/folio/thumbs/1.jpg" alt="")

                            div(class="col-md-4 col-sm-6 mb-4")
                                div(class="child")
                                    div(class="img")
                                        a(href="images/folio/thumbs/2.jpg" class="jq-magnific-gallery") 
                                            img(src="images/folio/thumbs/2.jpg" alt="")


                            div(class="col-md-4 col-sm-6 mb-4")
                                div(class="child")
                                    div(class="img")
                                        a(href="images/folio/thumbs/3.jpg" class="jq-magnific-gallery") 
                                            img(src="images/folio/thumbs/3.jpg" alt="")

                            div(class="col-md-8 col-sm-12 mb-4")
                                div(class="child")
                                    div(class="img")
                                        a(href="images/folio/thumbs/4.jpg" class="jq-magnific-gallery") 
                                            img(src="images/folio/thumbs/4.jpg" alt="")

                            div(class="col-md-4 col-sm-6 mb-4")
                                div(class="child")
                                    div(class="img")
                                        a(href="images/folio/thumbs/5.jpg" class="jq-magnific-gallery") 
                                            img(src="images/folio/thumbs/5.jpg" alt="")

                            div(class="col-md-4 col-sm-6 mb-4")
                                div(class="child")
                                    div(class="img")
                                        a(href="images/folio/thumbs/6.jpg" class="jq-magnific-gallery") 
                                            img(src="images/folio/thumbs/6.jpg" alt="")

                            div(class="col-md-4 col-sm-6 mb-4")
                                div(class="child")
                                    div(class="img")
                                        a(href="images/folio/thumbs/7.jpg" class="jq-magnific-gallery") 
                                            img(src="images/folio/thumbs/7.jpg" alt="")

                            div(class="col-md-4 col-sm-6 mb-4")
                                div(class="child")
                                    div(class="img")
                                        a(href="images/folio/thumbs/8.jpg" class="jq-magnific-gallery") 
                                            img(src="images/folio/thumbs/8.jpg" alt="")

                            div(class='col-xs-12')
                                div(class='disc-project-single')
                                    h3(class="h2") Lorem ipsum, dolor sit amet consectetur adipisicing 
                                    p(class='lead') Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti ullam laborum minus itaque! Dolorum quisquam, sunt, numquam ab quidem omnis, maxime repellendus beatae id iste corrupti minus? Fugit, incidunt molestias?
                                    p(class="lead") Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas quia voluptate quaerat, fuga repudiandae ipsa consectetur 
                                hr
                                div(class='date-project-single')
                                    ul 
                                        li 
                                            span(class="name") Date:
                                            span(class="value") 26.05.2021
                                        li 
                                            span(class="name") client:
                                            span(class="value") House big
                                        li 
                                            span(class="name") status:
                                            span(class="value") completed
                                        li 
                                            span(class="name") location:
                                            span(class="value") kharkv ukaine
                                div(class='hr')






                        div(class="hr")
                        div(class="content-nav")
                            div(class="left")
                                a(href="category.html") 
                                    i(class="fas fa-long-arrow-alt-left")
                                a(href="#") /
                                a(href="")
                                    i(class="fas fa-long-arrow-alt-right") 
                            div(class="right")
                                a(href="portfolio.html") 
                                    i(class="fa fa-th-large")
                    //- End Row









        //- +btnTow('read')
        include footer/footer.pug




        //- Start Global
        include global/global.pug
        //- End Global









        include script/script.pug
        //- Jquery Tools
        script(src="js/libs/countTo/jquery.countTo.js")
        script(src="js/libs/plugin-work/plugin-work.js")
        script(src="js/JQueryTools/JQueryTools.js")
        script(src="http://localhost:35729/livereload.js")

        //- end body
