include variables/variables.pug
include mixin/mixin.pug
doctype 
//- html(lang="ar" dir="rtl" data-theme="light") 
html(lang="en" data-theme="light")
    //- html(lang='ar' dir="rtl") 

    head 
        //- start head  
        include head/head.pug

        block pageTitle
            title Speed Self Repairing Full

        block Bootstrap
            //- Bootstrap 5.0.1 en
            // Bootstrap 5.0.1 en
            //- link(rel="stylesheet" href="https://hossamrashad.github.io/libraries/css/bootstrap/bootstrap.min.css")
            link(rel="stylesheet" href="css/libs/bootstrap/bootstrap.min.css")       

        //- global framework
        block Framework
            link(rel="stylesheet" href="css/style.css")
    //- end head

    body 
        //- start body
        include header/header.pug



        div(class='container')


            div(class='back-item-single-come-from' id='backVideo'
            data-vide-bg="https://hossamrashad.github.io/images-in-github/video/speed-self-repairing/2.mp4")

                nav( aria-label="breadcrumb")
                    ol( class="breadcrumb")
                        li(class="breadcrumb-item")
                            a(href="index.html") Home 
                        li(class="breadcrumb-item")
                            a(href="doors-system.html") Roll  Up Doors
                        li(class="breadcrumb-item")
                            a(href="sectional-category.html") Speed Doors
                        li(class="breadcrumb-item active" aria-current="page") Speed Self Repairing Full


        div(class='container')
            div(class='wrapper-item-single ')
                div(class='row')
                    div(class='col-md-12 mb-5')
                        h4 SECTOR RESET - Rapid roll-up door with self-repairing curtain

                        p(class='lead') Sector Reset is the rapid roll-up door for very intense use, fitted with a special and innovative self-repairing system. If the curtain is accidentally knocked, pushing it out of position, a simple and automatic opening and closing manoeuvre puts the curtain back in place. 

                        h4(class='h5')  Technical features of the product range

                        ul(class='dot-before') 
                            li Modular counterweight balancing system to guarantee high operating and safety standards

                            li Ideal for VERY INTENSE use in the two different versions: - 400 V three-phase motor, standard opening/closing speed of 1.0 m/s – INVERTER motion device, 230 V single-phase motor differentiated speed adjustment, opens at up to 2.0 m/s and closes at up to 0.8 m/s

                            li An exclusive electronic device, the SLE – Safety Linear Encoder, Patent Pending, is available to reverse the motor when closing. The SLE controls the closing speed by means of the side hinge elements, generating the reverse command in the event that the closing movement is impeded

                            li Self-supporting metal structure made of hot-galvanised steel with optional AISI 304 stainless steel or painted versions

                            li Front motor with protective cover in ABS in a pleasant and exclusive design, with easy and rapid access to quickly check the components

                            li Semi-automatic release for emergency re-opening (optional) which can be made completely automatic with the APS system

                            li Safety photocell pairs are available in an IP67 container and are incorporated into the uprights H 200 mm from ground

                            li Barriers with self-testing safety photocells, covering 2500 mm from the ground; the curtain sliding area is monitored by optical sensors which are deactivated progressively during closure (optional)

                            li  IP55 rated electronic panel, complete with open - partial opening - close - stop membrane push-button panel with AUTOTEST function, in compliance with European Directives 2006/42/EC and 89/106/EC. TÜV certified

                            li Passive lower edge made of shock proof material, complete with polyester lining pocket in the same colour as the curtain

                            li Pre-cabled, “Plug & Play” doors for easy, fast installation

                            li Available in four different types of flexible curtain, made of tear-resistant polyester, fitted with special vertical reinforcement strips: Standard, Reinforced, Insulated and Eco

                            li Standard see-through PVC window sections (980 x H 300 mm) optional larger window sections (920 x H 1600 mm) sized and positioned according to need (see drawing on the back)

                            li Standard vertical reinforcement and thickening strips

                            li Possible addition of standard silkscreen prints (L max 400 x H max 800 mm) and partial (L max 2000 x H max 2000 mm) or total digital prints (L max 2300 x H unlimited)

                    div(class='col-md-12 disc-img-single-item')
                        div(class='grid-sm-2')
                            div(class='item-img')
                                img(src="images/doors-system/speed-doors/self-repairing-curtain/self-repairing-curtain-top.jpg" alt="" class='img-thumbnail')
                            div(class='item-img')
                                img(src="images/doors-system/speed-doors/self-repairing-curtain/self-repairing-curtain-bottom.jpg" alt="" class='img-thumbnail')


        include footer/footer.pug
        include global/global.pug

        include script/script.pug
        // Back Video
        script(src="js/libs/back-video/jquery.vide.js")

        //- Jquery Tools
        // Jquery Tools
        script(src="js/libs/plugin-work/plugin-work.js")
        script(src="http://localhost:35729/livereload.js")

        //- end body
